#
# Chart for the Interledger App Wallet backend.
#

# Configuration that will be used during the migrations.
# Migrations will run as a separate job before the application starts using helm hooks.
# See templates/initialisation.yaml for more details on how the job is created.

# You can override the version of the image used used across the chart here.
# versionOverride: "v0.2.0"

initialisation: 
  serviceAccountName: ""
  host: "localhost"
  port: "5432"
  backend:
    dbname: "wallet_backend"
    username: "wallet_backend"
    password: "MiiS4iCvb1i0GPIYKMtAdukrt8fGrj34"
  pacioli:
    dbname: "pacioli"
    username: "wallet_backend"
    password: "MiiS4iCvb1i0GPIYKMtAdukrt8fGrj34"
  rafiki_backend:
    dbname: "rafiki_backend"
    username: "rafiki_backend"
    password: "dNTqetDocQZBEUXu8WpcRq3tkjAuFB7e"
  rafiki_auth:
    dbname: "rafiki_auth"
    username: "rafiki_auth"
    password: "6NNoEeJAdcYTpcVjQrytjXcUm6gN1URU"

  # What image should be used for the initialisation job.
  image:
    repository: europe-west4-docker.pkg.dev/wallet-451208/interledger-app
    name: backend
    tag: manual_main

database:
  host: "postgresql-host"
  port: "5432"
  backend:
    dbname: "backend"
    username: "backend"
    password: "backend"
  pacioli:
    dbname: "pacioli"
    username: "pacioli"
    password: "pacioli"
  rafiki_backend:
    dbname: "rafiki_backend"
    username: "rafiki_backend"
    password: "rafiki_backend"
  rafiki_auth:
    dbname: "rafiki_auth"
    username: "rafiki_auth"
    password: "rafiki_auth"

config:
  environment: dev
  log_level: "info"
  usd_ledger_id: "1"
  noop_equity_account_id: "00000000-0000-0000-0000-000000000000"
  google_oauth2_client_id: "google_oauth"
  authorisation_port: "8082"
  open_payments_port: "8081"

  admin:
    policy_aud: "0000000000000000000000000000000000000000000000000000000000000000"
    team_domain: "https://fynbos.cloudflareaccess.com"

  twilio:
    account_sid: "0000000000000000000000000000000000"
    service_sid: "VA00000000000000000000000000000000"
    account_token: "000000000000000000000000"

  zenddesk:
    user: "support@interledger-app.dev"
    token: "0000000000000000000000"

  kratos:
    url: "http://kratos.wallet:4433"
    admin_url: "http://kratos.wallet:4434"
  
  rafiki:
    graphql:
      auth_url: "http://rafiki-auth:3003/graphql"
      backend_url: "http://rafiki-backend:3001/graphql"

  temporal:
    url: "temporal:7233"

  otel:
    exporter_otlp_endpoint: "grpc://api.honeycomb.io:443"
    exporter_otlp_headers: "x-honeycomb-team=0000000000000000000000"
    service_name: "backend"

  vault:
    url: "http://vault:8200"
    transit_engine_path: "transit/prod/backend"

  twitter:
    redirect_url: "https://fynbos.app/connect/twitter"
    client_id: "Q2pzaXpDN0VPN29MU09VQ0tNYmo6MTpjaQ"
    client_secret: "00000000000000000000000000000"
    bearer_token: "000000000000000000000000"

  discord:
    redirect_url: "https://fynbos.app/connect/interledger-app"
    client_secret: "000000000000000000000000"

  astra:
    client_id: "000000000000000000000000"
    client_secret: "000000000000000000000000"
    webhook_bearer_token: "000000000000000000000000"

  gatehub:
    app_id: "000000000000000000000000"
    secret: "000000000000000000000000"
    webhook_secret: "000000000000000000000000"

  chimoney:
    webhook_secret: "000000000000000000000000"
    token: "000000000000000000000000"

  dato:
    api_token: "000000000000000000000000"

  sendgrid:
    api_key: "000000000000000000000000"

  smarty:
    auth_id: "000000000000000000000000"
    auth_token: "000000000000000000000000"

  pusher:
    addr: "000000000000000000000000"

  segment:
    key: "000000000000000000000000"

  slack:
    token: "000000000000000000000000"

  
  basis_theory:
    api_key: "000000000000000000000000"
    token: "000000000000000000000000"

  persona:
    token: "000000000000000000000000"
    webhook_token: "000000000000000000000000"

  cdn:
    key: "000000000000000000000000"
  
  xago:
    api_secret: "000000000000000000000000"
    api_public_key: "000000000000000000000000"

  sentry:
    dsn: "000000000000000000000000"

  pti:
    jwk: "000000000000000000000000"
    client_id: "000000000000000000000000"

server:
  replicaCount: 3
  nodeSelector: {}
  serviceAccount:
    create: false
    annotations: {}
    name: ""
  containers:
    # Backend server task
    - name: server
      image:
        repository: europe-west4-docker.pkg.dev/wallet-451208/interledger-app
        name: backend
        pullPolicy: Always
      args:
        - "start"
      resources:
        requests:
          memory: 128Mi
          cpu: 200m
        limits:
          memory: 512Mi
          cpu: 400m
      ports:
        - name: grpc
          containerPort: 8443
        - name: admin
          containerPort: 8448
        - name: http
          containerPort: 8080
    # sidecars:
    #   - name: cloud-sql-proxy
    #     image:
    #       name: cloud-sql-connectors/cloud-sql-proxy
    #       tag: latest
    #       repository: gcr.io
    #     args:
    #       - "${cloudsql_connection_name}"
    #       - "--structured-logs"
    #     securityContext:
    #       runAsNonRoot: true

worker:
  replicaCount: 3
  nodeSelector: {}
  serviceAccount:
    create: false
    annotations: {}
    name: ""
  containers:
    # Temporal related worker task
    - name: worker
      image:
        repository: europe-west4-docker.pkg.dev/wallet-451208/interledger-app
        name: backend
        pullPolicy: Always
      args:
        - "worker"
      resources:
        requests:
          memory: 128Mi
          cpu: 200m
        limits:
          memory: 512Mi
          cpu: 400m
    # sidecars:
    #   - name: cloud-sql-proxy
    #     image:
    #       name: cloud-sql-connectors/cloud-sql-proxy
    #       tag: latest
    #       repository: gcr.io
    #     args:
    #       - "${cloudsql_connection_name}"
    #       - "--structured-logs"
    #     securityContext:
    #       runAsNonRoot: true

service:
  - name: service
    type: ClusterIP
    ports:
      # Private gRPC Server (Used by the Admin Portal)
      - port: 8448
        targetPort: 8448
        protocol: TCP
        name: admin
      # Handling of webhooks
      - port: 8080
        targetPort: 8080
        protocol: TCP
        name: http
      # Public gRPC Server (Used by Mobile & External applications)
      - port: 8443
        targetPort: 8443
        protocol: TCP
        name: grpc
        appProtocol: HTTP2

configmap:
  - files/config.yaml

secrets:
  - files/secret.yaml
