# CODEOWNERS for automated chart versioning PRs
# Requests reviews from the charts-maintainers team on chart and Helm repo changes.

charts/** @interledger/charts-maintainers
# docs/interledger/** @interledger/charts-maintainers This prevents auto versioning
tooling/** @interledger/charts-maintainers
.github/workflows/** @interledger/charts-maintainers
