log:
  stdout: true
  level: "debug,info"

persistence:
  defaultStore: default
  visibilityStore: visibility
  numHistoryShards: 512

  datastores:
    default:
      sql:
        pluginName: "postgres"
        driverName: "postgres"
        databaseName: "{{ .Values.postgresql.temporal.dbname }}"
        connectAddr: "localhost:5432" # Connects to sidecar
        connectProtocol: "tcp"
        user: "{{ .Values.postgresql.temporal.username | b64enc }}" 
        password: "{{ .Values.postgresql.temporal.password | b64enc }}" 
        maxConnLifetime: 1h
        maxConns: 20
        secretName: ""
        tls:
          enabled: false
    visibility:
      sql:
        pluginName: "postgres"
        driverName: "postgres"
        databaseName: "temporal_visibility"
        connectAddr: "localhost:5432"
        connectProtocol: "tcp"
        user: "{{ .Values.postgresql.temporal.username | b64enc }}" 
        password: "{{ .Values.postgresql.temporal.password | b64enc }}" 
        maxConnLifetime: 1h
        maxConns: 20
        tls:
          enabled: false
global:
  membership:
    name: temporal
    maxJoinDuration: 30s
    broadcastAddress: "0.0.0.0"

  pprof:
    port: 7936
    
  metrics:
    tags:
      type: frontend
    prometheus:
      timerType: histogram
      listenAddress: "0.0.0.0:9090"

services:
  frontend:
    rpc:
      grpcPort: 7233
      membershipPort: 6933
      bindOnIP: "0.0.0.0"

  history:
    rpc:
      grpcPort: 7234
      membershipPort: 6934
      bindOnIP: "0.0.0.0"

  matching:
    rpc:
      grpcPort: 7235
      membershipPort: 6935
      bindOnIP: "0.0.0.0"

  worker:
    rpc:
      grpcPort: 7239
      membershipPort: 6939
      bindOnIP: "0.0.0.0"
clusterMetadata:
  enableGlobalDomain: false
  failoverVersionIncrement: 10
  masterClusterName: "active"
  currentClusterName: "active"
  clusterInformation:
    active:
      enabled: true
      initialFailoverVersion: 1
      rpcName: "temporal-frontend"
      rpcAddress: "127.0.0.1:7933"

dcRedirectionPolicy:
  policy: "noop"
  toDC: ""
archival:
  status: "disabled"

publicClient:
  hostPort: "127.0.0.1:7233"

dynamicConfigClient:
  filepath: "/etc/temporal/config/dynamic_config.yaml"
  pollInterval: "10s"