{{- define "backend.deployment" -}}
{{- $top := first . }}
{{- $cfgObj := include "common.configMapper" (list $top $top.Values.configMaps.backend "rafiki.backend.ConfigMap") | fromYaml -}}
{{- $dataHash := $cfgObj.data | toJson | sha256sum -}}
spec:
  template:
    metadata:
      annotations:
        ilf-configmap-backend-sha256: {{ $dataHash | quote }}
    spec:
        volumes:
        - name: keys
          secret:
            secretName: {{ include "common.fullname" $top }}-backend-keys
{{- end }}
{{- if .Values.deployments.backend.enabled }}
{{- include "common.deployment" (list . .Values.deployments.backend .Values.deployments.backend.autoscaling .Values.deployments.backend.serviceAccount "backend.deployment") }}
{{- end }}
