{{- define "interledger-app-backend.initialisation" -}}
{{- $top := first . }}
{{- $initialisation := $top.Values.initialisation }}

{{- $globalSelectedRepository := $top.Values.imageOverride.repository }}
{{- $globalSelectedName := $top.Values.imageOverride.name }}
{{- $globalSelectedVersion := $top.Values.imageOverride.tag | default $top.Chart.AppVersion }}

{{- if not $initialisation.image }}
  {{- $initialisation := dict "image" (dict) | merge $initialisation }}
{{- end }}

{{- $initialisationSelectedRepository := $initialisation.image.repository | default $globalSelectedRepository }}
{{- $initialisationSelectedName := $initialisation.image.name | default $globalSelectedName }}
{{- $initialisationSelectedTag := $initialisation.image.tag | default $globalSelectedVersion }}

{{- $migrationImageString := printf "%s/%s:%s" $initialisationSelectedRepository $initialisationSelectedName $initialisationSelectedTag }}

{{/*
    This template is responsible for creating a Kubernetes Job that runs the
    initialisation script for the interledger-app backend. It is used to set up
    the necessary secrets and configurations required for the application to run.
*/}}
# templates/initialisation.yaml
# Job responsible for initialising the interledger-app backend
apiVersion: batch/v1
kind: Job
metadata:
  name: {{ include "common.fullname" $top }}-migration
  namespace: {{ $top.Release.Namespace }}
  {{- include "common.metadata" (list $top) | nindent 2 }}
  annotations:
    "helm.sh/hook": pre-install,pre-upgrade
    "helm.sh/hook-delete-policy": before-hook-creation,hook-succeeded
spec:
  backoffLimit: 10
  template:
    spec:
      {{- if $initialisation.serviceAccountName }}
      serviceAccountName: {{ $initialisation.serviceAccountName | quote }}
      {{- end }}
      restartPolicy: OnFailure
      containers:
        - name: migration
          image: {{ $migrationImageString }}
          imagePullPolicy: Always
          env:
            - name: DB_URL_WITH_CERTS
              valueFrom:
                secretKeyRef:
                    name: '{{ include "common.fullname" $top }}'
                    key: "{{ $top.Values.initialisation.backend.urlSecretRef }}"
            - name: PACIOLI_DB_URL_WITH_CERTS
              valueFrom:
                secretKeyRef:
                    name: '{{ include "common.fullname" $top }}'
                    key: "{{ $top.Values.initialisation.pacioli.urlSecretRef }}"
            - name: LOG_OUTPUT_PATH
              value: "stderr"
          args: ["migrate"]
{{- end }}
{{- include "interledger-app-backend.initialisation" (list . ) | indent 2 }}
