{{- define "rafiki-backend.secret-generator" -}}
{{- $top := first . }}
{{/*
    In the case where the Rafiki private key (pvk) is not provided, this template
    will create a Kubernetes Job that generates the private and public keys
    using OpenSSL and stores them in a Kubernetes Secret.

    In order for this job to be able to create the secret, it needs a ServiceAccount
    with the appropriate permissions, which is also created by this template. These
    resources are created only if the `key.pvk` value is not set in the Helm values.
*/}}
{{- if not $top.Values.key.pvk }}
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "common.fullname" $top }}-secret-generator
  namespace: {{ $top.Release.Namespace }}
  {{- include "common.metadata" (list $top) | nindent 2 }}

---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: {{ include "common.fullname" $top }}-secret-generator
  namespace: {{ $top.Release.Namespace }}
  {{- include "common.metadata" (list $top) | nindent 2 }}
rules:
  - apiGroups: [""]
    resources: ["secrets"]
    verbs: ["create", "get", "patch", "update"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: {{ include "common.fullname" $top }}-secret-generator
  namespace: {{ $top.Release.Namespace }}
  {{- include "common.metadata" (list $top) | nindent 2 }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: {{ include "common.fullname" $top }}-secret-generator
subjects:
  - kind: ServiceAccount
    name: {{ include "common.fullname" $top }}-secret-generator
    namespace: {{ $top.Release.Namespace }}
---
apiVersion: batch/v1
kind: Job
metadata:
  name: {{ include "common.fullname" $top }}-secret-generator
  namespace: {{ $top.Release.Namespace }}
  {{- include "common.metadata" (list $top) | nindent 2 }}
  annotations:
    "helm.sh/hook": pre-install
    "helm.sh/hook-delete-policy": hook-succeeded
spec:
  template:
    spec:
      serviceAccountName: {{ include "common.fullname" $top }}-secret-generator
      restartPolicy: Never
      volumes:
        - name: workspace
          emptyDir: {}
      containers:
        - name: openssl-generator
          image: bitnami/kubectl:latest
          volumeMounts:
            - name: workspace
              mountPath: /workspace
          command:
            - /bin/sh
            - -c
            - |
              set -e
              # Check if the secret already exists
              if kubectl get secret {{ include "common.fullname" $top }}-keys -n {{ $top.Release.Namespace }}; then
                echo "Secret already exists, skipping key generation."
                exit 0
              fi
              cd /workspace
              echo "Generating key..."
              openssl genpkey -algorithm Ed25519 -out private.pem
              openssl pkey -in private.pem -pubout -out public.pem
              echo "Creating secret..."
              namespace={{ $top.Release.Namespace }}
              kubectl create -n $namespace secret generic {{ include "common.fullname" $top }}-keys \
                --from-file=pvk.pem=private.pem \
                --from-file=pub.pem=public.pem \
                -o yaml | kubectl apply -f -
              echo "Secret created successfully."
{{- end }}
{{- end }}

{{- include "rafiki-backend.secret-generator" (list .) }}
