{{- define "rafiki-backend.secret" -}}
{{- $top := first . }}
data:
  {{- range $top.Values.secretsGenFile }}
    {{- tpl ($top.Files.Get .) $top | nindent 6 -}}
  {{- end }}
{{- end }}
{{- if and (typeIs "map" .Values.secrets) (hasKey .Values.secrets "create") .Values.secrets.create -}}
{{- include "common.secret" (list . "rafiki-backend.secret") }}
{{- end -}}
