{{- define "rafiki-backend.secret-keys.tpl" -}}
{{- $top := first . }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "common.fullname" $top }}-keys
  {{- include "common.metadata"  (list $top) | nindent 2 }}
type: Opaque
data:
  {{- $pvk := required "private key file must be provided" $top.Values.key.pvk }}
  pvk.pem: {{ $pvk }}
  {{- $pub := required "public key file must be provided" $top.Values.key.pub }}
  pub.pem : {{ $pub }}
{{- end }}


{{- include "rafiki-backend.secret-keys.tpl" (list .) }}
