#
# Chart for the Interledger App Wallet admin portal called Botanist.
#
#
imageOverride::
  repository: europe-west4-docker.pkg.dev/wallet-451208/interledger-app
  name: botanist

config:
  environment: prod

  backend:
    grpcUrl: "wallet-backend-service:8448"

server:
  name: server
  enabled: true
  imagePullPolicy: Always  
  replicaCount: 2
  serviceAccount:
    create: false
    annotations: {}
    name: ""
  envFrom:
    - configMapRef:
        name: '{{ include "common.fullname" . }}-config'        
  resources:
    requests:
      memory: 128Mi
      cpu: 50m
    limits:   
      memory: 1024Mi
      cpu: 1000m
  livenessProbe:
    initialDelaySeconds: 10
    periodSeconds: 5
    timeoutSeconds: 1
    successThreshold: 1
    failureThreshold: 3    
    httpGet:
      path: /healthz
      port: 3000
  readinessProbe:
    initialDelaySeconds: 10
    periodSeconds: 5
    timeoutSeconds: 1
    successThreshold: 1
    failureThreshold: 3      
    httpGet:
      path: /healthz
      port: 3000
  ports:
    - name: http
      containerPort: 3000
  service:
    name: service
    type: ClusterIP
    ports:
      - port: 3000
        targetPort: 3000
        protocol: TCP
        name: http
  podDisruptionBudget:
    enabled: true
    annotations: {}
    minAvailable: 1
  topologySpreadConstraints:
    - maxSkew: 1
      topologyKey: kubernetes.io/hostname
      whenUnsatisfiable: DoNotSchedule

configMaps:
  config:
    name: config
    contentMap:
      - key: BACKEND_GRPC_URL
        valueRef: config.backend.grpcUrl