{{- define "common.container.tpl" -}}
{{- $top := first . }}
{{- $container := index . 1 }}
{{- $pod := index . 2 }}
{{- $image := $container.image | default (dict) }}
{{- if not $image.name }}
    {{- $_ := set $image "name" ($top.Chart.Name | default $top.Chart.Name) }}
{{- end }}
{{- if not $image.repository }}
    {{- $_ := set $image "repository" "ghcr.io/interledger" }}
{{- end }}
{{- if $top.Values.imageOverride }}
    {{- $_ := set $image "repository" $top.Values.imageOverride.repository | default $image.repository }}
    {{- $_ := set $image "name" $top.Values.imageOverride.name | default $image.name }}
    {{- $_ := set $image "tag" $top.Values.imageOverride.tag | default $image.tag }}
    {{- $_ := set $image "digest" $top.Values.imageOverride.digest | default $image.digest }}
{{- end }}
{{- if not $container.name }}
  {{- $_ := set $container "name" ($top.Chart.Name | default "container") }}
{{- end }}
{{- if and $image.digest $image.tag }}
    {{- fail "You cannot set both image.digest and image.tag at the same time. Please use one or the other." }}
{{- end }}
{{- if not $image.tag }}
    {{- $_ := set $image "tag" ($top.Chart.AppVersion | default "latest") }}
    {{- if $top.Values.versionOverride }}
      {{- /* If versionOverride is set, use it as the tag */ -}}
      {{- $_ := set $image "tag" $top.Values.versionOverride }}
    {{- end }}
{{- end }}
{{- if not $container.imagePullPolicy }}
  {{ $_ := set $container "imagePullPolicy" "IfNotPresent" }}
{{- end }}
- name: {{ $container.name | default $top.Chart.Name }}
  securityContext:
    {{- toYaml $top.Values.securityContext | nindent 4 }}

  {{- if $image.digest }}
  image: {{ print $image.repository "/" $image.name "@sha256:" $image.digest }}
  {{- else }}
  image: {{ print $image.repository "/" $image.name ":" $image.tag }}
  {{- end }}

  imagePullPolicy: {{ $container.imagePullPolicy | quote | default "Always" }}
  resources:
    {{- toYaml $container.resources | nindent 4 }}

  {{- with $container.env }}
  env: {{- tpl (toYaml . | nindent 4) $top }}
  {{- end }}

  {{- if $container.envFrom }}
  {{- with $container.envFrom }}
  envFrom: {{- tpl (toYaml . | nindent 4) $top }}
  {{- end }}
  {{- else  }}
  envFrom:
    - configMapRef:
        name: {{ include "common.fullname" $top }}
    - secretRef:
        name: {{ include "common.fullname" $top }}
  {{- end }}

  {{- with $container.command }}
  command: {{- toYaml . | nindent 4 }}
  {{- end }}

  {{- with $container.livenessProbe }}
  livenessProbe: {{ include "common.probe" (list $top .) | nindent 4 }}
  {{- end }}

  {{- with $container.readinessProbe }}
  readinessProbe: {{ include "common.probe" (list $top .) | nindent 4 }}
  {{- end }}

  {{- with $container.ports }}
  ports: {{- toYaml . | nindent 4 }}
  {{- end }}

  {{- with $container.args }}
  args: {{- toYaml . | nindent 4 }}
  {{- end }}

  {{- if or ($pod.secretProvider) ($container.volumeMounts) }}
  volumeMounts:
    {{- range $secretProvider := $pod.secretProvider }}
    - name: {{ $secretProvider.name }}
      mountPath: {{ printf "/mnt/secrets-store-%s" $secretProvider.name }}
      readOnly: true
    {{- end }}
    {{- with $container.volumeMounts }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
  {{- end }}

{{- end }} # define

{{- define "common.container" -}}
{{- include "common.utils.merge" (append . "common.container.tpl") }}
{{- end }}
