{{- define "common.deployment.tpl" -}}
{{- $top := first . }}
{{- $deployment := index . 1 }}
{{- $autoscaling := index . 2 }}
{{- $serviceAccount := index . 3 }}
{{- $name := include "common.fullname" $top }}
{{- if $deployment.name }}
{{- $name = printf "%s-%s" $name $deployment.name }}
{{- end }}
{{- if or (not (hasKey $deployment "enabled")) $deployment.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ $name }}
  {{- include "common.metadata" (list $top $deployment) | nindent 2 }}
spec:
  {{- if not $autoscaling.enabled }}
  replicas: {{ $deployment.replicaCount | default 1 }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "common.selectorLabels" (list $top $deployment) | nindent 6 }}
  template: {{- include "common.pod.template" (list $top $deployment $serviceAccount nil) | nindent 4 }}
{{- else }}
# Deployment {{ $name }} is disabled
{{- end }}
{{- end }}

{{- define "common.deployment" -}}
{{- include "common.utils.merge" (append . "common.deployment.tpl") }}
{{- end }}
