{{/* 
This is a template for creating a PodDisruptionBudget (PDB) for a deployment.

The second argument is expected to be a deployment object, which should have a `pdb` field
that will only be rendered if enabled is true.

  */}}
{{- define "common.pdb.tpl" -}}
{{- $top := first . }}
{{- $deployment := index . 1 -}}
{{- if not $deployment }}
{{- fail "pdb should be attached to depoyment definition" -}}
{{- end -}}
{{- if not $deployment.podDisruptionBudget }}
{{- fail (printf "podDisruptionBudget configuration missing for deployment %s" $deployment.name) -}}
{{- end -}}
{{- $name := printf "%s-%s" (include "common.fullname" $top) $deployment.name -}}
{{- if $deployment.podDisruptionBudget.enabled }}
---
apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: {{ $name }}
  {{- include "common.metadata" (list $top $deployment) | nindent 2 }}
  {{- if not (empty $deployment.podDisruptionBudget.annotations)}}
  annotations:
    {{- range $key, $value := $deployment.podDisruptionBudget.annotations }}
    {{ $key }}: {{ $value | quote }}
    {{- end }}
  {{- end }}
spec:
  selector:
    {{- include "common.selectorLabels" (list $top $deployment) | nindent 4 }}    
  {{ if not $deployment.podDisruptionBudget.maxUnavailable }}
  minAvailable: {{ default 1 $deployment.podDisruptionBudget.minAvailable }}
  {{- end }}
  {{ if $deployment.podDisruptionBudget.maxUnavailable }}
  maxUnavailable: {{ $deployment.podDisruptionBudget.maxUnavailable }}
  {{- end }}
{{- end }}
{{- end -}}
{{- define "common.pdb" -}}
{{- include "common.utils.merge" (append . "common.pdb.tpl") }}
{{- end }}
