{{/*Defines generation of a single service*/}}
{{- define "common.svc.tpl"}}
{{- $top := first . }}
{{- $service := index . 1 }}
{{- $deployment := dict }}
{{- if ge (len .) 3 }}
{{- $deployment = index . 2 }}
{{- end }}
{{- if not $service }}
{{- fail "No service object provided" -}}
{{- end }}
{{- if not $service.name }}
{{- fail "Service name missing" -}}
{{- end }}
{{- if not $service.type }}
{{- fail (printf "Service type missing for service %s" $service.name) -}}
{{- end }}
{{- if not $service.ports }}
{{- fail (printf "Service ports missing for service %s" $service.name) -}}
{{- end }}
{{- $name := printf "%s-%s" (include "common.fullname" $top) $service.name }}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ $name }}
  {{/* The service object must have a 'name' property; the template will fail if it is missing. Metadata will use this property. There is no fallback or default for 'name'. */}}
  {{- include "common.metadata" (list $top $service) | nindent 2 }}
  annotations:
    {{- range $key, $value := $service.annotations }}
    {{ $key }}: {{ $value | quote }}
    {{- end }}
spec:
  type: {{ $service.type }}
  ports: {{- toYaml $service.ports | nindent 4 }}
  {{- if $service.selector }}
  selector: {{- toYaml $service.selector | nindent 4 }}
  {{ else }}
  selector:
    {{- if empty $deployment }}
    {{- include "common.selectorLabels" (list $top) | nindent 4 }}
    {{- else }}
    {{- include "common.selectorLabels" (list $top $deployment) | nindent 4 }}    
    {{- end }}
  {{- end }}
  {{- if $service.loadBalancerIP }}
  loadBalancerIP: {{ $service.loadBalancerIP }}
  {{- end }}
{{- end }}
{{/*Generates one or more services based on the provided array of service objects*/}}
{{- define "common.service.tpl" -}}
{{- $top := first . }}
{{- $services := index . 1 }}
{{- range $service := $services }}
{{- include "common.svc.tpl" (list $top $service) | nindent 0 }}
{{- end }}
{{- end }}

{{- define "common.service" -}}
{{- include "common.utils.merge" (append . "common.service.tpl") }}
{{- end }}

{{- define "common.svc" -}}
{{- include "common.utils.merge" (append . "common.svc.tpl") }}
{{- end }}