nodeEnv: production
logLevel: debug

replicaCount: 1

nodeSelector: {}

port: 3004
frontendUrl: https://boutique.jopacc.openpayments.directory
keyId: 2bca5867-c149-402b-96d2-1b61fd5ed937

paymentPointer: https://op.jopacc.openpayments.directory/JORDJOA0/SAEED

databaseUrl: "postgres://boutique_backend:boutique_backend@postgres/boutique_backend"
privateKey: "LS0tLS1CRUdJTiBQUklWQVRFIEtFWS0tLS0tCk1DNENBUUF3QlFZREsyVndCQ0lFSUkyNmxkZVNaeVQzMlA4QWhNNHFPaXhqdjNhODU1QjFCMUdhVWtDNmU2SisKLS0tLS1FTkQgUFJJVkFURSBLRVktLS0tLQ=="

serviceAccount:
  create: false
  annotations: {}
  name: ""

autoscaling:
  enabled: false
  minReplicas: 2
  maxReplicas: 1
  cpuUtilizationPercentage: 80
  memoryUtilizationPercentage: 80

service:
  - name: service
    type: ClusterIP
    ports:
      - port: 80
        targetPort: 3004
        protocol: TCP
        name: http

configmap:
  - files/config.yaml

secrets:
  - files/secret.yaml

containers:
  - name: server
    envFrom:
      - configMapRef:
          name: "{{ .Release.Name }}"
    resources:
      requests:
        memory: 128Mi
        cpu: 0.5m
      limits:
        memory: 512Mi
        cpu: 1m
    ports:
      - name: http
        containerPort: 3004
        protocol: TCP

ingress:
  enabled: true
  hosts:
    - host: api.boutique.jopacc.golobit.ch
      paths:
        - path: /
          pathType: Prefix
          service:
            name: rafiki-boutique-backend-service
            port: 80
