nodeEnv: production
logLevel: debug

replicaCount: 1

nodeSelector: {}

port: 3004
frontendUrl: http://boutique.frontend
keyId: changeMe

paymentPointer: boutique-payment-pointer

databaseUrl: "postgres://boutique_backend:boutique_backend@postgres/boutique_backend"
privateKey: "changeMeBase64"

# serviceAccount:
#   create: false
#   annotations: {}
#   name: ""

autoscaling:
  enabled: false
  minReplicas: 2
  maxReplicas: 1
  cpuUtilizationPercentage: 80
  memoryUtilizationPercentage: 80

service:
  - name: service
    type: ClusterIP
    ports:
      - port: 80 #TBD: Maybe move this to 3004 (if middleware is moved out of 3004)
        targetPort: 3004
        protocol: TCP
        name: http

configmap:
  - files/config.yaml

secrets:
  - files/secret.yaml

containers:
  - name: server
    image:
      name: test-boutique-backend
    envFrom:
      - configMapRef:
          name: "{{ .Release.Name }}"
      - secretRef:
          name: "{{ .Release.Name }}"
    resources:
      requests:
        memory: 128Mi
        cpu: 200m
      limits:
        memory: 512Mi
        cpu: 1
    ports:
      - name: http
        containerPort: 3004
        protocol: TCP
