nodeEnv: production
logLevel: debug

replicaCount: 1

nodeSelector: {}

port: 3004
frontendUrl: https://rafiki.boutique
keyId: 2f789ecd-8845-4ff0-a1c4-16b7a1ef06c2
paymentPointer: https://ilp.rafiki.money/boutique

databaseUrl: "postgres://boutique_backend:boutique_backend@postgres/boutique_backend"
privateKey: "LS0tLS1CRUdJTiBQUklWQVRFIEtFWS0tLS0tCk1DNENBUUF3QlFZREsyVndCQ0lFSUkyNmxkZVNaeVQzMlA4QWhNNHFPaXhqdjNhODU1QjFCMUdhVWtDNmU2SisKLS0tLS1FTkQgUFJJVkFURSBLRVktLS0tLQ=="

serviceAccount:
  create: false
  annotations: {}
  name: ""

autoscaling:
  enabled: false
  minReplicas: 2
  maxReplicas: 1
  cpuUtilizationPercentage: 80
  memoryUtilizationPercentage: 80

service:
  - name: service
    type: ClusterIP
    ports:
      - port: 3004
        targetPort: 3004
        protocol: TCP
        name: http

configmap:
  - files/config.yaml

secrets:
  - files/secret.yaml

containers:
  - name: server
    envFrom:
      - configMapRef:
          name: "{{ .Release.Name }}"
      - secretRef:
          name: "{{ .Release.Name }}"
    resources:
      requests:
        memory: 128Mi
        cpu: 100m
      limits:
        memory: 512Mi
        cpu: 1
    ports:
      - name: http
        containerPort: 3004
        protocol: TCP

ingress:
  enabled: true
  hosts:
    - host: api.boutique.jopacc.golobit.ch
      paths:
        - path: /
          pathType: Prefix
          service:
            name: rafiki-boutique-backend-service
            port: 3004
