nodeEnv: production
logLevel: debug

replicaCount: 1

nodeSelector: {}

serviceAccount:
  create: false
  annotations: {}
  name: ""

autoscaling:
  enabled: false
  minReplicas: 2
  maxReplicas: 1
  cpuUtilizationPercentage: 80
  memoryUtilizationPercentage: 80

service:
  - name: service
    type: ClusterIP
    ports:
      - port: 5101
        targetPort: 5101
        protocol: TCP
        name: http

configmap:
  - files/config.yaml

secret:
  - files/secret.yaml

containers:
  - name: server
    envFrom:
      - configMapRef:
          name: "{{ .Release.Name }}"
      - secretRef:
          name: "{{ .Release.Name }}"
    resources:
      requests:
        memory: 128Mi
        cpu: 100m
      limits:
        memory: 512Mi
        cpu: 1
    ports:
      - name: http
        containerPort: 5101
        protocol: TCP

ingress:
  enabled: true
  className: nginx
  tls:
    - secretName: interledger-test-dev-tls
      hosts:
        - wmtools-backend.interledger-test.dev
  hosts:
    - host: wmtools-backend.interledger-test.dev
      paths:
        - path: /
          pathType: Prefix
          service:
            name: web-monetization-tools-backend-service
            port: 5101

aws:
  accessKeyId: AKIASD4QXDTPRY726JEA
  secretAccessKey: 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
  region: eu-north-1
  bucketName: wm-tools-configs
  retryMaxAttempts: 3
  retryTimeout: 3000