{{- define "rafiki-backend.secret-keys.tpl" -}}
{{- $top := first . }}
{{/*
  Will generate a Kubernetes Secret containing the private and public keys
  for Rafiki Backend. But only if the values are provided.
  See secret-generator.yaml for the Job that generates these keys in the
  case when they are not provided.
*/}}
{{- if and $top.Values.config.backend.key.pvk }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "common.fullname" $top }}-keys
  {{- include "common.metadata"  (list $top) | nindent 2 }}
type: Opaque
data:
  {{- $pvk := $top.Values.config.backend.key.pvk }}
  pvk.pem: {{ $pvk }}
{{- end }}
{{- end }}

{{- include "rafiki-backend.secret-keys.tpl" (list .) }}
