config:
  host: example.com
  
  databaseDsn: postgresql://user:password@postgres:5432/dbname
  redisUrl: redis://redis:63799
  logLevel: info

web:
  name: web
  enabled: true
  replicaCount: 2
  serviceAccount: {}
    # create: false
    # name: "webksa"
  service:
    name: web
    type: ClusterIP
    ports:
      - port: 80
        targetPort: http
        protocol: TCP
        name: http
    targetPort: http
    nodePort: null
    annotations: {}
  # imagePullPolicy: IfNotPresent
  image:
    repository: ghcr.io/interledger/somerepo
    name: web
    tag: 2.0.0
  ports:
    - name: http
      containerPort: 8080
      protocol: TCP
  resources:
    requests:
      memory: 256Mi
      cpu: 200m
    limits:
      memory: 2048Mi
      cpu: 1000m
  initContainers: []
  sidecars: []
  env: []
  envFrom:
    - configMapRef:
        name: "{{ .Release.Name }}-admin"  
  ports:
    - name: http
      containerPort: 8080
      protocol: TCP
  # command: []
  # args: []
  # livenessProbe: {}
  # readinessProbe: {}
  # volumeMounts: []
  # securityContext: {}

backend:
  name: backend
  enabled: true
  replicaCount: 2
  serviceAccount: {}
    # create: false
    # name: "webksa"
  # imagePullPolicy: IfNotPresent
  service:
    http:
      name: backend-http
      type: ClusterIP
      ports:
        - port: 80
          targetPort: http
          protocol: TCP
          name: http
      annotations:
        "some.annotation/key": "somevalue"
    grpc:
      name: backend-grpc
      type: ClusterIP
      ports:
        - port: 8888
          targetPort: grpc
          protocol: TCP
          name: grpc
      annotations:
        "some.annotation/key": "somevalue"
  image:
    repository: ghcr.io/interledger/somerepo
    name: web
    tag: 2.0.0
  ports:
    - name: http
      containerPort: 8080
      protocol: TCP
    - name: grpc
      containerPort: 8888
      protocol: TCP
  resources:
    requests:
      memory: 256Mi
      cpu: 200m
    limits:
      memory: 2048Mi
      cpu: 1000m
  initContainers: []
  sidecars: []
  env: []
  envFrom:
    - configMapRef:
        name: "{{ .Release.Name }}-admin"
  ports:
    - name: http
      containerPort: 8080
      protocol: TCP
  # command: []
  # args: []
  # livenessProbe: {}
  # readinessProbe: {}
  # volumeMounts: []
  # securityContext: {}

admin:
  name: admin
  enabled: true
  replicaCount: 2
  serviceAccount: {}
    # create: false
    # name: "webksa"
  service:
    name: admin
    type: ClusterIP
    ports:
      - port: 80
        targetPort: http
        protocol: TCP
        name: http
    targetPort: http
    nodePort: null
    annotations: {}
  # imagePullPolicy: IfNotPresent
  image:
    repository: ghcr.io/interledger/somerepo
    name: admin
    tag: 2.0.0
  ports:
    - name: http
      containerPort: 8080
      protocol: TCP
  resources:
    requests:
      memory: 256Mi
      cpu: 200m
    limits:
      memory: 2048Mi
      cpu: 1000m
  initContainers: []
  sidecars: []
  env: []
  envFrom:
    - configMapRef:
        name: "{{ .Release.Name }}-admin"
  ports:
    - name: http
      containerPort: 8080
      protocol: TCP
  # command: []
  # args: []
  # livenessProbe: {}
  # readinessProbe: {}
  # volumeMounts: []
  # securityContext: {}

worker:
  name: worker
  enabled: true
  replicaCount: 2
  serviceAccount: {}
    # create: false
    # name: "workerksa"
  # imagePullPolicy: IfNotPresent
  image:
    repository: ghcr.io/interledger/somerepo
    name: worker
    tag: 2.0.0
  ports:
    - name: http
      containerPort: 8080
      protocol: TCP
  resources:
    requests:
      memory: 256Mi
      cpu: 200m
    limits:
      memory: 2048Mi
      cpu: 1000m
  initContainers: []
  sidecars: []
  env: []
  envFrom:
    - configMapRef:
        name: "{{ .Release.Name }}-worker"  
  podDisruptionBudget:
    enabled: true
    minAvailable: 1
  envFrom:
    - configMapRef:
        name: worker
  ports:
    - name: http
      containerPort: 8080
      protocol: TCP

# Describes the list of configmaps which will be automatically generated
# based on the provided contentMap. Note that references are pointing to
# this values file
#
# Each configMap generated will be given the name using the 
# release name suffixed with the configMap name, e.g.
# <release-name>-<configMap.name>
#
configMaps:
  backend:
    name: backend
    contentMap:
      - key: DATABASE_DSN
        valueRef: config.databaseDsn
      - key: REDIS_URL
        valueRef: config.redisUrl
      - key: LOG_LEVEL
        valueRef: config.logLevel
  web:
    name: web
    contentMap:
      - key: DATABASE_DSN
        valueRef: config.databaseDsn
      - key: REDIS_URL
        valueRef: config.redisUrl
      - key: LOG_LEVEL
        valueRef: config.logLevel
      - key: HOST
        valueRef: config.host

  admin:
    name: admin
    contentMap:
      - key: DATABASE_DSN
        valueRef: config.databaseDsn
  worker:
    name: worker
    contentMap:
      - key: DATABASE_DSN
        valueRef: config.databaseDsn
      - key: LOG_LEVEL
        valueRef: config.logLevel
