# This file is used to set default values for the Rafiki Auth Helm chart.
# You can override these values by providing a custom values file or using the --set flag during installation.

# The number of pods to run across the cluster.
# This value is used to set the replica count for the deployment.
replicaCount: 1

# NodeSelector can be used to specify the nodes on which the pods should run on your cluster.
nodeSelector: {}

# Using this section you can define a ServiceAccount which will be used by the pods. This is useful
# if you want to give the pods specific permissions in your cluster.
serviceAccount:
  create: false
  annotations: {}
  name: ""

# Autoscaling configuration for the deployment.
autoscaling:
  enabled: false
  minReplicas: 2
  maxReplicas: 1
  cpuUtilizationPercentage: 80
  memoryUtilizationPercentage: 80

# Default configuration for the Services to create. If you have specific
# requirements you can use this section to redefine the service as you wish
service:
  - name: service
    type: ClusterIP
    annotations: {}
    ports:
      - port: 3006
        targetPort: 3006
        protocol: TCP
        name: auth
      - port: 3003
        targetPort: 3003
        protocol: TCP
        name: admin
      - port: 3007
        targetPort: 3007
        protocol: TCP
        name: introspection
      - port: 3009
        targetPort: 3009
        protocol: TCP
        name: interaction

# In many cases you don't want to redefine all the running containers, but rather you would
# like to add just a single container to run as a sidecar. The following section allows you to
# define sidecars that will be added to the deployment. You can add multiple sidecars by
# adding more entries to the list.
#
# sidecars:
#   - name: debugbox
#     image:
#       name: busybox
#       tag: latest
#       repository: docker.io
#     args:
#       - sleep
#       - "3600"

# Defines the location of the template that will be used to generate the ConfigMap
# you can add additional files here to extend the configuration for your own purposes
configmap:
  - files/config.yaml

# Defines the location of the templat ethat will be used to generate the default secret
# used for this chart. You can add additional files here to extend the configuration for 
# your own purposes
secrets:
  - files/secret.yaml

# The containers that will be created as part of the deployment. It is recommended that
# you do not change this but rather use the sidecar and initContainers sections to extend
# this chart for your purposes.
containers:
  - name: server
    envFrom:
      - configMapRef:
          name: "{{ .Release.Name }}"
      - secretRef:
          name: "{{ .Release.Name }}"
    resources:
      requests:
        memory: 128Mi
        cpu: 200m
      limits:
        memory: 512Mi
        cpu: 400m
    ports:
      - name: auth
        containerPort: 3006
        protocol: TCP
      - name: admin
        containerPort: 3003
        protocol: TCP
      - name: introspection
        containerPort: 3007
        protocol: TCP
      - name: interaction
        containerPort: 3009
        protocol: TCP

# Specifies where the application will look for a Redis instance to be used for caching
# and other purposes. This chart will not attempt to create a Redis instance.      
redis:
  auth:
    enabled: false
  host: 'rafiki-auth-redis-master'
  port: "6379"
  tlsCaFile: ''
  tlsCertFile: ''
  tlsKeyFile: ''
  architecture: standalone

trustProxy: true

# Configuration for the PostgreSQL database used by Rafiki Auth.
postgresql:
  host: "rafiki-auth-postgresql"
  port: "5432"
  auth:
    username: "rafiki-auth"
    database: "rafiki-auth"
    password: "rafiki-auth"

# The type of node environment: development, test, or production.
nodeEnv: production

# See Log levels defined at https://getpino.io/#/docs/api?id=levels
logLevel: debug

# The public endpoint for your Rafiki instance’s public Open Payments routes.
authServerUrl: "http://rafiki-auth:3006"

identityServer:
  # The URL of your IdP’s server, used by the authorization server to inform 
  # an Open Payments client of where to redirect the end-user to start interactions.
  domain: "http://rafiki-backend/idp"
  # A shared secret between the authorization server and the IdP server; the authorization 
  # server will use the secret to secure its IdP-related endpoints. When the IdP server sends
  # requests to the authorization server, the IdP server must provide the secret via an x-idp-secret header.
  secret: "changeme"

interaction:
  # When true, quote grants are interactive.
  quote: "false"
  # TODO: DOCUMENT THIS
  cookieSameSite: lax
  # When true, incoming Open Payments grant requests are interactive  
  # Note that this is a string
  incomingPayment: "false"


# Defines the ports on which the container will listen for incoming requests. It
# is recommended that you do not change these values, but rather use the service 
# section to expose the ports as needed.
port:
  admin: 3003
  auth: 3006
  introspection: 3007


grant:
  # The wait time, in seconds, included in a grant request response (grant.continue).
  waitSeconds: 5

accessToken:
  # The days until expired and/or revoked access tokens are deleted.
  deletionDays: 30
  # The expiry time, in seconds, for access tokens.
  expirySeconds: 600

# The koa KeyGrip key that is used to sign cookies for an interaction session.
cookieKey: 'changeme'

workers:
  # The number of workers processing expired or revoked access tokens.
  cleanup: 1

# This chart supports the automatic creation of an Ingress resource to expose the application
ingress:
  enabled: false
  className: nginx
  tls:
    - secretName: interledger-test-dev-tls
      hosts:
        - auth.interledger-test.dev
  hosts:
    - host: auth.interledger-test.dev
      paths:
        - path: /
          pathType: Prefix
          service:
            name: rafiki-auth-service
            port: 3006
