replicaCount: 1

nodeSelector: {}

serviceAccount:
  create: false
  annotations: {}
  name: ""

autoscaling:
  enabled: false
  minReplicas: 2
  maxReplicas: 1
  cpuUtilizationPercentage: 80
  memoryUtilizationPercentage: 80

service:
  - name: service
    type: ClusterIP
    ports:
      - port: 3006
        targetPort: 3006
        protocol: TCP
        name: auth
      - port: 3003
        targetPort: 3003
        protocol: TCP
        name: admin
      - port: 3007
        targetPort: 3007
        protocol: TCP
        name: introspection
      - port: 3009
        targetPort: 3009
        protocol: TCP
        name: interaction

configmap:
  - files/config.yaml

secrets:
  - files/secret.yaml

containers:
  - name: server
    envFrom:
      - configMapRef:
          name: "{{ .Release.Name }}"
      - secretRef:
          name: "{{ .Release.Name }}"
    resources:
      requests:
        memory: 128Mi
        cpu: 200m
      limits:
        memory: 512Mi
        cpu: 400m
    ports:
      - name: auth
        containerPort: 3006
        protocol: TCP
      - name: admin
        containerPort: 3003
        protocol: TCP
      - name: introspection
        containerPort: 3007
        protocol: TCP
      - name: interaction
        containerPort: 3009
        protocol: TCP

redis:
  host: 'redis-master'
  port: "6379"
  # auth:
  #   enabled: false
  # tlsCaFile: ''
  # tlsCertFile: ''
  # tlsKeyFile: ''
  # architecture: standalone

trustProxy: true

postgresql:
  # replication:
  #   enabled: false
  # metrics:
  #   enabled: false
  # primary:
  #   initdb:
  #     scripts:
  #       initialize_auth.sql: |
  #         CREATE USER rafiki-auth WITH PASSWORD 'rafiki-auth';
  #         CREATE DATABASE rafiki-auth OWNER rafiki-auth;
  #   persistence:
  #     enabled: true
  host: "postgres-postgresql"
  port: "5432"
  auth:
    username: "rafiki-auth"
    database: "rafiki-auth"
    password: "rafiki-auth"


nodeEnv: development
logLevel: debug

authServerUrl: "http://rafiki-auth:3006"

identityServer:
  domain: "http://rafiki-backend/idp"
  secret: "changeme"
interaction:
  incomingPayment: "false"
  quote: "false"
  cookieSameSite: lax
port:
  admin: 3003
  auth: 3006
  introspection: 3007
grant:
  waitSeconds: 5
accessToken:
  deletionDays: 30
  expirySeconds: 600
cookieKey: 'changeme'
workers:
  cleanup: 1

ingress:
  enabled: true
  tls:
  - secretName: jopacc-openpayments-directory-tls
    hosts:
      - auth.jopacc.openpayments.directory
  hosts:
    - host: auth.jopacc.openpayments.directory
      paths:
        - path: /
          pathType: Prefix
          service:
            name: rafiki-auth-service
            port: 3006
