nodeEnv: production
logLevel: info

replicaCount: 1

nodeSelector: {}

serviceAccount:
  create: false
  annotations: {}
  name: ""

autoscaling:
  enabled: false
  minReplicas: 2
  maxReplicas: 1
  cpuUtilizationPercentage: 80
  memoryUtilizationPercentage: 80

service:
  - name: service
    type: ClusterIP
    ports:
      - port: 4003
        targetPort: 4003
        protocol: TCP
        name: http

containers:
  - name: server
    env:
      - name: PORT
        value: "4003"
      - name: COOKIE_NAME
        value: testnet.cookie
      - name: NEXT_PUBLIC_USE_TEST_KYC_DATA
        value: "true"
      - name: NEXT_PUBLIC_BACKEND_URL
        value: https://api.interledger-test.dev
      - name: NEXT_PUBLIC_OPEN_PAYMENTS_HOST
        value: https://ilp.interledger-test.dev
      - name: NEXT_PUBLIC_AUTH_HOST
        value: https://auth.interledger-test.dev
    resources:
      requests:
        memory: 64Mi
        cpu: 0.5m
      limits:
        memory: 512Mi
        cpu: 1
    ports:
      - name: http
        containerPort: 4003
        protocol: TCP

ingress:
  enabled: true
  className: nginx
  tls:
    - secretName: interledger-test-dev-tls
      hosts:
        - wallet.interledger-test.dev
  hosts:
    - host: wallet.interledger-test.dev
      paths:
        - path: /
          pathType: Prefix
          service:
            name: rafiki-money-frontend-service
            port: 4003