nodeEnv: production
logLevel: debug

replicaCount: 1

nodeSelector: {}

serviceAccount:
  create: false
  annotations: {}
  name: ""

autoscaling:
  enabled: false
  minReplicas: 2
  maxReplicas: 1
  cpuUtilizationPercentage: 80
  memoryUtilizationPercentage: 80

service:
  - name: service
    type: ClusterIP
    ports:
      - port: 3000
        targetPort: 3000
        protocol: TCP
        name: http

configmap:
  - files/config.yaml

containers:
  - name: server
    envFrom:
      - configMapRef:
          name: "{{ .Release.Name }}"
    resources:
      requests:
        memory: 64Mi
        cpu: 100m
      limits:
        memory: 1024Mi
        cpu: 2
    ports:
      - name: http
        containerPort: 3000
        protocol: TCP

ingress:
  enabled: true
  className: nginx
  tls:
    - secretName: interledger-test-dev-tls
      hosts:
        - wmtools.interledger-test.dev
  hosts:
    - host: wmtools.interledger-test.dev
      paths:
        - path: /
          pathType: Prefix
          service:
            name: web-monetization-tools-frontend-service
            port: 3000

url:
  api: https://wmtools-backend.interledger-test.dev/
  frontend: https://wmtools.interledger-test.dev/
  interledgerPay: https://interledgerpay.com/extension/