
# fullnameOverride: "rafiki"

config:
  backend:
    # ==========================================================
    # Rafiki Backend configuration
    # ==========================================================  
    nodeEnv: production
    logLevel: info

    # Your Rafiki instance’s name used to communicate for auto-peering and/or
    # telemetry. Required when auto-peering and/or telemetry is enabled
    instanceName: rafiki-backend-changeme

    useTigerbeetle: false

    secrets:
      # If true, then the chart will create a secret with the name of the release.
      # If false, then the secret will not be created and you will have to create it
      # manually. This is useful if you want to use an existing secret or if you want
      # to manage secrets outside of the Helm chart.
      # If true you will have to set the value of each secret manually in the relevant
      # section below.
      create: false

    auth:
      # The endpoint on your Open Payments authorization server to grant a request.
      grantUrl: http://rafiki-auth.rafiki-auth:3006
      # The endpoint on your Open Payments authorization server to introspect an access
      # token.
      introspectionUrl: http://rafiki-auth.rafiki-auth:3007

    # TODO: Consider not specifying the rates url if it is not needed
    rates:
      # The endpoint your Rafiki instance uses to request exchange rates.
      url: ""

    webhook:
      # Where Rafiki is going to send webhooks
      url: http://wallet/webhooks/rafiki
      # The time, in milliseconds, that WALLET_ADDRESS_WORKERS wait until checking the
      # empty wallet address request queue again.
      timeout: 200

    # Redis configuration, used for caching and session state
    redisUrl:
      # value: "redis://rafiki-backend-redis:6379"
      secretKeyRef:
        key: REDIS_URL

    # PostgreSQL, provide configuration
    databaseUrl: # DATABASE_URL
      # value: "postgresql://rafiki-backend-postgresql:5432/rafiki-backend"
      secretKeyRef:
        key: DATABASE_URL

    # This feature is experimental and may change in future versions.
    walletAddressRedirectHtmlPage: ''

    # Must be set to true when running Rafiki behind a proxy. When true, the
    # X-Forwarded-Proto header is used to determine if connections are secure.
    trustProxy: true

    ilp:
      # Maps to OPEN_PAYMENTS_URL - The public endpoint of your Open Payments resource server.
      host: 'http://rafiki-backend:3000'
      # Maps to ILP_ADDRESS - The ILP address of your Rafiki instance. Override this value.
      address: test.rafiki-backend
      # The ILP connector address where ILP packets are received.
      connector: 'http://rafiki-backend:3002'
      # The seed secret to generate shared STREAM secrets.
      streamSecret:
        # value: "changeme"
        secretKeyRef:
          key: STREAM_SECRET
      # The accepted ILP rate fluctuation.

    slippage: 0.01

    key:
      # Your Rafiki instance’s client key ID. Make this a unique identifier for your
      # Rafiki instance.
      id: rafiki-override-this-value
      # The private key pem file used. Must be provided as base64 encoded version of
      # the pem file. It will be stored in a secret. Chart will fail if not provided.
      # Can be generated like this
      #   openssl genpkey -algorithm Ed25519 -out private.pem
      #   echo "pvk:"
      #   echo -n "$(cat private.pem)" | base64 -w0
      #
      # Note that the public key can always be derived from the private key like this
      # openssl pkey -in private.pem -pubout -out public.pem
      #
      # If empty string like this is provided, this chart will spawn a job to generate
      # a new key pair and store it in a secret for you.
      pvk: ''

    # The secret to generate request header signatures for webhook event requests.
    webhookSignatureSecret:
      # value: "changeme"
      secretKeyRef:
        name: rafiki-backend
        key: SIGNATURE_SECRET

    # The delay in liquidity withdrawal processing.
    # Unit ms
    withdrawalThrottleDelay: ''

    lifetime:
      # The time, in milliseconds, the exchange rates you provide via the EXCHANGE_RATES_URL
      # are valid.
      exchangeRate: 15000
      # The time, in milliseconds, an Open Payments quote is valid for.
      quote: 300000
      # The time, in milliseconds, that your Rafiki instance will wait for a 200 response
      # from your webhook endpoint. If a 200 response is not received, Rafiki will time out
      # and try to send the webhook event again.
      webhook: 200

    workers:
      # The number of workers processing incoming payment requests.
      incomingPayment: 1
      # The number of workers processing outgoing payment requests.
      outgoingPayment: 1
      paymentPointer: 1
      webhook: 1

    # The time, in milliseconds, that WEBHOOK_WORKERS will wait until they check the
    # empty webhook event queue again.
    workerIdle: 200

    idempotency:
      # The TTL, in milliseconds, for idempotencyKey on GraphQL mutations on the Backend Admin API.
      keyTTL: 86400000
      # The TTL, in milliseconds, for idempotencyKey concurrency lock on GraphQL
      # mutations on the Backend Admin API.
      keyLock: 2000

    telemetry:
      # Enables the telemetry service on Rafiki.
      enabled: false
      livenet: false

    autoPeering:
      # Enables the auto-peering service on Rafiki.
      enabled: false

    pvk: '/mnt/keys/pvk.pem'

    port:
      admin: 3001
      connector: 3002
      openPayments: 3000
      autoPeering: 3005

deployments:
  backend:
    name: backend
    enabled: true
    replicaCount: 1
    image:
      repository: ghcr.io/interledger/rafiki
      tag: v1.2.0-beta
    imagePullPolicy: IfNotPresent
    args:
      - "start"
    envFrom:
      configMapRef:
        name: '{{ include "common.fullname" . }}-backend'
    ports:
      - name: open-payments
        containerPort: 3000
        protocol: TCP
      - name: admin
        containerPort: 3001
        protocol: TCP
      - name: connector
        containerPort: 3002
        protocol: TCP
      - name: auto-peering
        containerPort: 3005
        protocol: TCP
    resources:
      requests:
        memory: 256Mi
        cpu: 1
      limits:
        memory: 2048Mi
        cpu: 4
    livenessProbe:
      initialDelaySeconds: 10
      periodSeconds: 5
      timeoutSeconds: 1
      successThreshold: 1
      failureThreshold: 3
      httpGet:
        path: /healthz
        port: 3000
    readinessProbe:
      initialDelaySeconds: 10
      periodSeconds: 5
      timeoutSeconds: 1
      successThreshold: 1
      failureThreshold: 3      
      httpGet:
        path: /healthz
        port: 3000
    volumeMounts:
      - name: keys
        mountPath: /mnt/keys
        readOnly: true
    podDisruptionBudget:
      enabled: false
      minAvailable: 1
    topologySpreadConstraints: []
    # This chart support the generation of init containers using the convention
    # below. In future versions migrations will be performed in a init container.
    # initContainers:
    # - name: backend-migrations
    #   image:
    #     repository: repository/org/some-image
    #     name: SomeImageContainer
    #     tag: v1.0
    #     pullPolicy: Always
    #   args:
    #     - "run"
    #   envFrom:
    #     - configMapRef:
    #         name: '{{ include "common.fullname" . }}-backend'
    #   resources:
    #     requests:
    #       memory: 128Mi
    #       cpu: 200m
    #     limits:
    #       memory: 512Mi
    #       cpu: 400m
    # Sidecars can be used to add additional containers to the Rafiki Backend deployment. This
    # container definition will be added to the Rafiki Backend deployment as a sidecar container.
    # sidecars:
    #   - name: debugbox
    #     image:
    #       name: busybox
    #       tag: latest
    #       repository: docker.io
    #     args:
    #       - sleep
    #       - "3600"


services:
  backend:
    name: service
    enabled: true
    annotations: {}
    type: ClusterIP
    ports:
      - port: 3000
        targetPort: 3000
        protocol: TCP
        name: open-payments
      - port: 3001
        targetPort: 3001
        protocol: TCP
        name: admin
      - port: 3002
        targetPort: 3002
        protocol: TCP
        name: connector
      - port: 3005
        targetPort: 3005
        protocol: TCP
        name: auto-peering

configMaps:
  backend:
    name: "backend"
    contentMap:
      - key: LOG_LEVEL
        valueRef: config.backend.logLevel
      - key: ADMIN_PORT
        valueRef: config.backend.port.admin
      - key: CONNECTOR_PORT
        valueRef: config.backend.port.connector
      - key: OPEN_PAYMENTS_PORT
        valueRef: config.backend.port.openPayments
      - key: AUTO_PEERING_SERVER_PORT
        valueRef: config.backend.port.autoPeering
      - key: ENABLE_AUTO_PEERING
        valueRef: config.backend.autoPeering.enabled
      - key: USE_TIGERBEETLE
        valueRef: config.backend.useTigerbeetle
      - key: AUTH_SERVER_GRANT_URL
        valueRef: config.backend.auth.grantUrl
      - key: AUTH_SERVER_INTROSPECTION_URL
        valueRef: config.backend.auth.introspectionUrl
      - key: ILP_ADDRESS
        valueRef: config.backend.ilp.address
      - key: PUBLIC_HOST
        valueRef: config.backend.ilp.host
      - key: OPEN_PAYMENTS_URL
        valueRef: config.backend.ilp.host
      - key: WALLET_ADDRESS_URL
        valueRef: config.backend.ilp.host
      - key: WEBHOOK_URL
        valueRef: config.backend.webhook.url
      - key: WEBHOOK_TIMEOUT
        valueRef: config.backend.webhook.timeout
      - key: EXCHANGE_RATES_URL
        valueRef: config.backend.rates.url
      - key: ILP_CONNECTOR_URL
        valueRef: config.backend.ilp.connector
      - key: SLIPPAGE
        valueRef: config.backend.slippage
      - key: INSTANCE_NAME
        valueRef: config.backend.instanceName
      - key: ENABLE_TELEMETRY
        valueRef: config.backend.telemetry.enabled
      - key: ENABLE_AUTOPEERING
        valueRef: config.backend.autoPeering.enabled
      - key: KEY_ID
        valueRef: config.backend.key.id
      - key: TRUST_PROXY
        valueRef: config.backend.trustProxy
      - key: WALLET_ADDRESS_REDIRECT_HTML_PAGE
        valueRef: config.backend.walletAddressRedirectHtmlPage
      - key: NODE_ENV
        valueRef: config.backend.nodeEnv
      - key: PRIVATE_KEY_FILE
        valueRef: config.backend.key.pvk
      - key: LIVENET
        valueRef: config.backend.telemetry.livenet }}"
