apiVersion: v1
kind: Pod
metadata:
  creationTimestamp: "2024-08-29T12:11:05Z"
  generateName: jopacc-rafiki-middleware-backend-849c9f785f-
  labels:
    app.kubernetes.io/instance: jopacc-rafiki-middleware-backend
    app.kubernetes.io/name: jopacc-rafiki-middleware-backend
    pod-template-hash: 849c9f785f
  name: jopacc-rafiki-middleware-backend-849c9f785f-zqdvd
  namespace: default
  ownerReferences:
  - apiVersion: apps/v1
    blockOwnerDeletion: true
    controller: true
    kind: ReplicaSet
    name: jopacc-rafiki-middleware-backend-849c9f785f
    uid: d1fd201d-1819-4c5e-a90a-7afdf556c4ce
  resourceVersion: "10529"
  uid: f3b156d3-2fd5-4fbf-8db6-e0317e686092
spec:
  automountServiceAccountToken: true
  containers:
  - envFrom:
    - configMapRef:
        name: jopacc-rafiki-middleware-backend
    - secretRef:
        name: jopacc-rafiki-middleware-backend
    image: ghcr.io/interledger/jopacc-rafiki-middleware-backend:v0.0.1
    imagePullPolicy: Always
    name: server
    ports:
    - containerPort: 3003
      name: idp
      protocol: TCP
    - containerPort: 3004
      name: jopacc-gw
      protocol: TCP
    resources:
      limits:
        cpu: 400m
        memory: 512Mi
      requests:
        cpu: 200m
        memory: 128Mi
    terminationMessagePath: /dev/termination-log
    terminationMessagePolicy: File
    volumeMounts:
    - mountPath: /var/run/secrets/kubernetes.io/serviceaccount
      name: kube-api-access-pr9bp
      readOnly: true
  dnsPolicy: ClusterFirst
  enableServiceLinks: true
  nodeName: minikube
  preemptionPolicy: PreemptLowerPriority
  priority: 0
  restartPolicy: Always
  schedulerName: default-scheduler
  securityContext: {}
  serviceAccount: default
  serviceAccountName: default
  terminationGracePeriodSeconds: 30
  tolerations:
  - effect: NoExecute
    key: node.kubernetes.io/not-ready
    operator: Exists
    tolerationSeconds: 300
  - effect: NoExecute
    key: node.kubernetes.io/unreachable
    operator: Exists
    tolerationSeconds: 300
  volumes:
  - name: kube-api-access-pr9bp
    projected:
      defaultMode: 420
      sources:
      - serviceAccountToken:
          expirationSeconds: 3607
          path: token
      - configMap:
          items:
          - key: ca.crt
            path: ca.crt
          name: kube-root-ca.crt
      - downwardAPI:
          items:
          - fieldRef:
              apiVersion: v1
              fieldPath: metadata.namespace
            path: namespace
status:
  conditions:
  - lastProbeTime: null
    lastTransitionTime: "2024-08-29T12:11:07Z"
    status: "True"
    type: PodReadyToStartContainers
  - lastProbeTime: null
    lastTransitionTime: "2024-08-29T12:11:05Z"
    status: "True"
    type: Initialized
  - lastProbeTime: null
    lastTransitionTime: "2024-08-29T12:11:05Z"
    message: 'containers with unready status: [server]'
    reason: ContainersNotReady
    status: "False"
    type: Ready
  - lastProbeTime: null
    lastTransitionTime: "2024-08-29T12:11:05Z"
    message: 'containers with unready status: [server]'
    reason: ContainersNotReady
    status: "False"
    type: ContainersReady
  - lastProbeTime: null
    lastTransitionTime: "2024-08-29T12:11:05Z"
    status: "True"
    type: PodScheduled
  containerStatuses:
  - image: ghcr.io/interledger/jopacc-rafiki-middleware-backend:v0.0.1
    imageID: ""
    lastState: {}
    name: server
    ready: false
    restartCount: 0
    started: false
    state:
      waiting:
        message: Back-off pulling image "ghcr.io/interledger/jopacc-rafiki-middleware-backend:v0.0.1"
        reason: ImagePullBackOff
  hostIP: 192.168.49.2
  hostIPs:
  - ip: 192.168.49.2
  phase: Pending
  podIP: 10.244.0.50
  podIPs:
  - ip: 10.244.0.50
  qosClass: Burstable
  startTime: "2024-08-29T12:11:05Z"
