replicaCount: 1

nodeSelector: {}

serviceAccount:
  create: false
  annotations: {}
  name: ""

ingress:
  enabled: true
  hosts:
    - host: jopacc-rafiki-middleware-backend
      paths:
        - path: /
          pathType: Prefix
          backend:
  service:
    port: 3003

autoscaling:
  enabled: false
  minReplicas: 2
  maxReplicas: 1
  cpuUtilizationPercentage: 80
  memoryUtilizationPercentage: 80

securityContext:

podSecurityContext:

# TODO: separate idp and jopacc ports  -> everything is currently on 3003

service:
  - name: service
    type: ClusterIP
    ports:
      - port: 3003
        targetPort: 3003
        protocol: TCP
        name: api

configmap:
  - files/config.yaml

secrets:
  - files/secret.yaml


containers:
  - name: server
    envFrom:
      - configMapRef:
          name: "{{ .Release.Name }}"
      - secretRef:
          name: "{{ .Release.Name }}"
    resources:
      requests:
        memory: 128Mi
        cpu: 200m
      limits:
        memory: 512Mi
        cpu: 400m
    ports:
      - name: idp
        containerPort: 3003
        protocol: TCP
      - name: jopacc-gw
        containerPort: 3004
        protocol: TCP
        


imagePullSecret: ghrc-image-pull-secret

nodeEnv: development

logLevel: payment

paymentPointer: https://jopacc-rafiki-middleware-backend/JORDJOA0/SAEED
serviceUrls: 
  OPEN_PAYMENTS_HOST: http://jopacc-rafiki-middleware-backend
  GRAPHQL_ENDPOINT: http://jopacc-rafiki-middleware-backend:3001/graphql
  AUTH_DOMAIN: http://jopacc-rafiki-middleware-auth:3009
  AUTH_GRAPHQL_ENDPOINT: http://jopacc-rafiki-middleware-auth:3008/graphql
  AUTH_IDENTITY_SERVER_SECRET: -a92c97c4-67b0-4f02-97cf-6221f9cbf8d7
  IDP_HOST: ''

redis:
  auth:
    enabled: false
  host: 'jopacc-rafiki-middleware-backend-redis-master'
  port: "6379"
  tlsCaFile: ''
  tlsCertFile: ''
  tlsKeyFile: ''
  architecture: standalone

postgresql:
  replication: 
    enabled: false
  metrics:
    enabled: false
  primary:
    initdb:
      scripts:
        initialize_backend.sql: |
          CREATE USER jopacc-rafiki-middleware-backend WITH PASSWORD 'jopacc-rafiki-middleware-backend';
          CREATE DATABASE jopacc-rafiki-middleware-backend OWNER jopacc-rafiki-middleware-backend;
    persistence:
      enabled: true   
  host: "jopacc-rafiki-middleware-backend-postgresql"
  port: "5432"
  auth:
    username: "jopacc-rafiki-middleware-backend"
    database: "jopacc-rafiki-middleware-backend"
    password: "jopacc-rafiki-middleware-backend"

port:
  idp: 3003
  jopacc-gw: 3004


