replicaCount: 1

nodeSelector: {}

serviceAccount:
  create: false
  annotations: {}
  name: ""

autoscaling:
  enabled: false
  minReplicas: 2
  maxReplicas: 1
  cpuUtilizationPercentage: 80
  memoryUtilizationPercentage: 80

securityContext:

podSecurityContext:

# TODO: separate idp and jopacc ports  -> everything is currently on 3003

service:
  - name: service
    type: ClusterIP
    ports:
      - port: 3003
        targetPort: 3003
        protocol: TCP
        name: api
      - port: 3004
        targetPort: 3004
        protocol: TCP
        name: jopacc-gw

configmap:
  - files/config.yaml

secrets:
  - files/secret.yaml

ingress:
  enabled: true
  tls:
  - secretName: jopacc-openpayments-directory-tls
    hosts:
      - middleware.jopacc.openpayments.directory
  hosts:
    - host: middleware.jopacc.openpayments.directory
      paths:
        - path: /
          pathType: Prefix
          service:
            name: jopacc-rafiki-middleware-service
            port: 3003

containers:
  - name: server
    envFrom:
      - configMapRef:
          name: "{{ .Release.Name }}"
      - secretRef:
          name: "{{ .Release.Name }}"
    resources:
      requests:
        memory: 128Mi
        cpu: 200m
      limits:
        memory: 512Mi
        cpu: 400m
    ports:
      - name: idp
        containerPort: 3003
        protocol: TCP
      - name: jopacc-gw
        containerPort: 3004
        protocol: TCP


imagePullSecret: ghrc-image-pull-secret

nodeEnv: development

logLevel: payment

paymentPointer: https://jopacc-rafiki-backend/JORDJOA0/SAEED
serviceUrls:
  OPEN_PAYMENTS_HOST: http://jopacc-rafiki-middleware
  GRAPHQL_ENDPOINT: http://jopacc-rafiki-middleware:3001/graphql
  AUTH_DOMAIN: http://jopacc-rafiki-middleware-auth:3009
  AUTH_GRAPHQL_ENDPOINT: http://jopacc-rafiki-middleware-auth:3003/graphql
  IDP_HOST: ''

authIdentityServerSecret: changeme
jopaccBasicAuth: changeme

redis:
  # auth:
  #   enabled: false
  host: 'redis-master'
  port: "6379"
  # tlsCaFile: ''
  # tlsCertFile: ''
  # tlsKeyFile: ''

postgresql:
  host: "postgres-postgresql"
  port: "5432"
  auth:
    username: "rafiki-middleware"
    database: "rafiki-middleware"
    password: "rafiki-middleware"

port:
  idp: 3003
  jopacc-gw: 3004


