# fullnameOverride: "testnet-wallet"

imageOverride:
  repository: ghcr.io/interledger

config:
  frontend:
    logLevel: info
    nodeEnv: production
    port: 4003

    signatureVersion: "1"

    urls:
      backend: "https://api.interledger-test.dev"
      openPaymentsHost: "https://ilp.interledger-test.dev"
      authHost: "https://auth.interledger-test.dev"

    cookie:
      name: "testnet.cookie"

    features:
      useTestKycData: true

  backend:
    # If true, the chart will create the secrets defined in the secretsMaps section.
    # If false, the chart will not create the secrets and it is assumed that they
    # already exist.
    shouldCreateSecrets: true

    nodeEnv: production
    logLevel: info
    port: 4003

    cookie:
      name: "testnet.cookie"
      password: "testnet.cookie.password.super.secret.ilp"
      ttl: 2630000

    hosts:
      openPayments: "https://ilp.interledger-test.dev"
      graphqlEndpoint: "http://rafiki-backend-test.interledger-test:3001/graphql"
      authGraphqlEndpoint: "http://rafiki-auth-test-service.interledger-test:3003/graphql"
      frontend: "https://wallet.interledger-test.dev"
      auth: "http://rafiki-auth-test-service.interledger-test:3009"

    database:
      url: "postgres://test:test@postgres-test-postgresql/test"

    redis:
      url: "redis://redis-test.interledger-test:6379"

    identity:
      serverSecret: "58ba1bdc-e625-42da-bc90-bcea29b4ab8b"

    webhook:
      signatureSecret: "A3F44B29-56B2-4C7F-ACA7-1A111C4A6B05"

    interaction:
      cookieSameSite: "lax"

    email:
      send: true
      from: "tech@interledger.org"
      sendgridKey: ""

    stripe:
      enabled: false
      webhookSecret: "replaceMe"
      secretKey: "replaceMe"

    gatehub:
      env: "sandbox"
      accessKey: ""
      secretKey: "aergaregaerg"
      gatewayUuid: "9358542e-9bd1-48bc-b869-8661f1a1827c"
      organizationId: ""
      webhookSecret: "aergaerg"
      settlementWalletAddress: ""
      vault:
        eur: "a09a0a2c-1a3a-44c5-a1b9-603a6eea9341"
        usd: "450d2156-132a-4d3f-88c5-74822547658d"
      cards:
        appId: "713d6b92-afce-4797-8100-43877167784b"
        accountProductCode: "PWSR_DEBP_2404"
        productCode: "PMDSGWEEA"
        nameOnCard: "INTERLEDGER"
        paymentPointerPrefix: "ilp.dev"

    rate:
      apiKey: ""

    card:
      pinUrl: "https://lab.dinitcs.com/uat/Stargate.Paywiser.Server/api/v3/ClientDevice/pin"
      dataUrl: "https://lab.dinitcs.com/uat/Stargate.Paywiser.Server/api/v3/ClientDevice/cardData"

    paymentPointer: ""

    rafiki: # variables for rafiki configurations
      operatorId: ""
      apiSignatureVersion: "1"

deployments:
  backend:
    name: backend
    enabled: true
    replicaCount: 1
    image:
      name: test-wallet-backend
      # tag: "v0.1.66"   # Use this to override the image tag for just this image
    imagePullPolicy: IfNotPresent
    envFrom:
      - configMapRef:
          name: '{{ include "common.fullname" . }}-backend'

    env:
      - name: DATABASE_URL
        valueFrom:
          secretKeyRef:
            name: '{{ include "common.fullname" . }}-backend'
            key: databaseUrl
      - name: COOKIE_PASSWORD
        valueFrom:
          secretKeyRef:
            name: '{{ include "common.fullname" . }}-backend'
            key: cookiePassword
      - name: AUTH_IDENTITY_SERVER_SECRET
        valueFrom:
          secretKeyRef:
            name: '{{ include "common.fullname" . }}-backend'
            key: identity.serverSecret
      - name: REDIS_URL
        valueFrom:
          secretKeyRef:
            name: '{{ include "common.fullname" . }}-backend'
            key: redis.url
      - name: RAFIKI_WEBHOOK_SIGNATURE_SECRET
        valueFrom:
          secretKeyRef:
            name: '{{ include "common.fullname" . }}-backend'
            key: webhook.signatureSecret
      - name: GATEHUB_SECRET_KEY
        valueFrom:
          secretKeyRef:
            name: '{{ include "common.fullname" . }}-backend'
            key: gatehub.secretKey
      - name: GATEHUB_WEBHOOK_SECRET
        valueFrom:
          secretKeyRef:
            name: '{{ include "common.fullname" . }}-backend'
            key: gatehub.webhookSecret
      - name: SENDGRID_API_KEY
        valueFrom:
          secretKeyRef:
            name: '{{ include "common.fullname" . }}-backend'
            key: email.sendgridKey
      - name: RATE_API_KEY
        valueFrom:
          secretKeyRef:
            name: '{{ include "common.fullname" . }}-backend'
            key: rate.apiKey
      - name: STRIPE_WEBHOOK_SECRET
        valueFrom:
          secretKeyRef:
            name: '{{ include "common.fullname" . }}-backend'
            key: stripe.webhookSecret
      - name: STRIPE_SECRET_KEY
        valueFrom:
          secretKeyRef:
            name: '{{ include "common.fullname" . }}-backend'
            key: stripe.secretKey
      - name: ADMIN_API_SECRET
        valueFrom:
          secretKeyRef:
            name: '{{ include "common.fullname" . }}-backend'
            key: rafiki.adminApiSecret

    ports:
      - name: http
        containerPort: 4003
        protocol: TCP
    resources:
      requests:
        memory: 256Mi
        cpu: 1
      limits:
        memory: 2048Mi
        cpu: 4
    securityContext: {}
    nodeSelector: {}
    serviceAccount: {}
    autoscaling:
      enabled: false
      minReplicas: 2
      maxReplicas: 10
      cpuUtilizationPercentage: 80
      memoryUtilizationPercentage: 80

  frontend:
    name: frontend
    enabled: true
    replicaCount: 1
    image:
      name: test-wallet-frontend
      # tag: "v0.1.66"   # Use this to override the image tag for just this image
    imagePullPolicy: IfNotPresent
    envFrom:
      - configMapRef:
          name: '{{ include "common.fullname" . }}-frontend'
    ports:
      - name: http
        containerPort: 4003
        protocol: TCP
    resources:
      requests:
        memory: 64Mi
        cpu: 500m
      limits:
        memory: 512Mi
        cpu: 1
    securityContext: {}
    nodeSelector: {}
    serviceAccount: {}
    autoscaling:
      enabled: false
      minReplicas: 2
      maxReplicas: 10
      cpuUtilizationPercentage: 80
      memoryUtilizationPercentage: 80

services:
  backend:
    name: backend-service
    enabled: true
    type: ClusterIP
    annotations: {}
    ports:
      - port: 4003
        targetPort: 4003
        protocol: TCP
        name: http

  frontend:
    name: frontend-service
    enabled: true
    annotations: {}
    type: ClusterIP
    ports:
      - port: 4003
        targetPort: 4003
        protocol: TCP
        name: http

# This section of the values file defines Kubernetes config maps that will be created
# for each service (backend and frontend).
configMaps:
  frontend:
    name: "frontend"
    contentMap:
      - key: NODE_ENV
        valueRef: config.frontend.nodeEnv
      - key: PORT
        valueRef: config.frontend.port
      - key: COOKIE_NAME
        valueRef: config.frontend.cookie.name
      - key: SIGNATURE_VERSION
        valueRef: config.frontend.signatureVersion
      - key: NEXT_PUBLIC_USE_TEST_KYC_DATA
        valueRef: config.frontend.features.useTestKycData
      - key: NEXT_PUBLIC_BACKEND_URL
        valueRef: config.frontend.urls.backend
      - key: NEXT_PUBLIC_OPEN_PAYMENTS_HOST
        valueRef: config.frontend.urls.openPaymentsHost
      - key: NEXT_PUBLIC_AUTH_HOST
        valueRef: config.frontend.urls.authHost
  backend:
    name: "backend"
    contentMap:
      - key: NODE_ENV
        valueRef: config.backend.nodeEnv
      - key: PORT
        valueRef: config.backend.port
      - key: COOKIE_NAME
        valueRef: config.backend.cookie.name
      - key: COOKIE_TTL
        valueRef: config.backend.cookie.ttl
      - key: OPEN_PAYMENTS_HOST
        valueRef: config.backend.hosts.openPayments
      - key: GRAPHQL_ENDPOINT
        valueRef: config.backend.hosts.graphqlEndpoint
      - key: AUTH_GRAPHQL_ENDPOINT
        valueRef: config.backend.hosts.authGraphqlEndpoint
      - key: RAFIKI_MONEY_FRONTEND_HOST
        valueRef: config.backend.hosts.frontend
      - key: AUTH_DOMAIN
        valueRef: config.backend.hosts.auth
      - key: SEND_EMAIL
        valueRef: config.backend.email.send
      - key: FROM_EMAIL
        valueRef: config.backend.email.from
      - key: AUTH_INTERACTION_COOKIE_SAME_SITE
        valueRef: config.backend.interaction.cookieSameSite
      - key: GATEHUB_ENV
        valueRef: config.backend.gatehub.env
      - key: GATEHUB_ACCESS_KEY
        valueRef: config.backend.gatehub.accessKey
      - key: GATEHUB_GATEWAY_UUID
        valueRef: config.backend.gatehub.gatewayUuid
      - key: GATEHUB_VAULT_UUID_EUR
        valueRef: config.backend.gatehub.vault.eur
      - key: GATEHUB_VAULT_UUID_USD
        valueRef: config.backend.gatehub.vault.usd
      - key: GATEHUB_ORG_ID
        valueRef: config.backend.gatehub.organizationId
      - key: GATEHUB_SETTLEMENT_WALLET_ADDRESS
        valueRef: config.backend.gatehub.settlementWalletAddress
      - key: GATEHUB_CARD_APP_ID
        valueRef: config.backend.gatehub.cards.appId
      - key: GATEHUB_ACCOUNT_PRODUCT_CODE
        valueRef: config.backend.gatehub.cards.accountProductCode
      - key: GATEHUB_CARD_PRODUCT_CODE
        valueRef: config.backend.gatehub.cards.productCode
      - key: GATEHUB_NAME_ON_CARD
        valueRef: config.backend.gatehub.cards.nameOnCard
      - key: GATEHUB_CARD_PP_PREFIX
        valueRef: config.backend.gatehub.cards.paymentPointerPrefix
      - key: PAYMENT_POINTER
        valueRef: config.backend.paymentPointer
      - key: CARD_PIN_HREF
        valueRef: config.backend.card.pinUrl
      - key: CARD_DATA_HREF
        valueRef: config.backend.card.dataUrl
      - key: USE_STRIPE
        valueRef: config.backend.stripe.enabled
      - key: OPERATOR_TENANT_ID
        valueRef: config.backend.rafiki.operatorId
      - key: ADMIN_SIGNATURE_VERSION
        valueRef: config.backend.rafiki.apiSignatureVersion


# This section of the values file defines Kubernetes secrets that will be created
# when the shouldCreateSecrets value is true for the backend service.
# If you are creating the secrets manually, you can infer the keys and values from here
secretsMaps:
  backend:
    name: backend
    contentMap:
      - key: databaseUrl
        valueRef: config.backend.database.url
      - key: cookiePassword
        valueRef: config.backend.cookie.password
      - key: identity.serverSecret
        valueRef: config.backend.identity.serverSecret
      - key: redis.url
        valueRef: config.backend.redis.url
      - key: webhook.signatureSecret
        valueRef: config.backend.webhook.signatureSecret
      - key: gatehub.secretKey
        valueRef: config.backend.gatehub.secretKey
      - key: gatehub.webhookSecret
        valueRef: config.backend.gatehub.webhookSecret
      - key: email.sendgridKey
        valueRef: config.backend.email.sendgridKey
      - key: rate.apiKey
        valueRef: config.backend.rate.apiKey
      - key: stripe.webhookSecret
        valueRef: config.backend.stripe.webhookSecret
      - key: stripe.secretKey
        valueRef: config.backend.stripe.secretKey
      - key: rafiki.adminApiSecret
        valueRef: config.backend.rafiki.adminApiSecret
