{{- define "web.deployment" -}}
{{- $top := first . }}
{{- if $top.Values.web.enabled }}
{{- $cfgObj := include "common.configMapper" (list $top $top.Values.configMaps.web) | fromYaml -}}
{{- $dataHash := $cfgObj.data | toJson | sha256sum -}}
spec:
  template:
    metadata:
      annotations:
        ilf-configmap-web-sha256: {{ $dataHash | quote }}
{{- end }}
{{- end }}
{{- include "common.deployment" (list . .Values.web .Values.web.autoscaling .Values.web.serviceAccount "web.deployment") }}
