#
# Example on how to deploy only the backend of Rafiki and have it create
# its own secrets.
#
config:
  backend:
    shouldCreateSecrets: true
    redisUrl:
      value: "redis://rafiki-backend-redis:6379"
    databaseUrl:
      value: "postgresql://username:password@postgres-host:5432/database_name"
    ilp:
      streamSecret:
        value: "your-stream-secret-here"
    webhookSignatureSecret:
      value: "your-webhook-signature-secret-here"

deployments:
  auth:
    enabled: false
  frontend:
    enabled: false