

imageOverride:
  repository: ghcr.io/interledger

config:
  backend:
    # If true, the chart will create the secrets defined in the secretsMaps section.
    # If false, the chart will not create the secrets and it is assumed that they
    # already exist.
    shouldCreateSecrets: true

    logLevel: info

    # postgresql://[user[:password]@][host][:port][/dbname][?param1=value1&param2=value2]
    databaseUrlSecret: "postgresql://username:password@host:port/database?sslmode=disable"
    cookieSecret: "supersecretcookie"

deployments:
  backend:
    enabled: true
    replicaCount: 1
    image:
      name: interledger-cards
    imagePullPolicy: IfNotPresent
    env:
      - name: DATABASE_URL
        valueFrom:
          secretKeyRef:
            name: '{{ include "common.fullname" . }}-backend'
            key: databaseUrlSecret
      - name: COOKIE_SECRET
        valueFrom:
          secretKeyRef:
            name: '{{ include "common.fullname" . }}-backend'
            key: cookieSecret
    resources:
      requests:
        memory: 64Mi
        cpu: 100m
      limits:
        memory: 256Mi
        cpu: 400m
    securityContext: {}
    nodeSelector: {}
    serviceAccount: {}
    autoscaling:
      enabled: false
      minReplicas: 2
      maxReplicas: 10
      cpuUtilizationPercentage: 80
      memoryUtilizationPercentage: 80
    ports:
      - name: server
        containerPort: 3000
        protocol: TCP
    

services:
  backend:
    name: service
    enabled: true
    type: ClusterIP
    annotations: {}
    ports:
      - port: 3000
        targetPort: 3000
        protocol: TCP
        name: server

configMaps:
  backend:
    name: "backend"
    contentMap:
      - key: LOG_LEVEL
        valueRef: config.backend.logLevel

# This section of the values file defines Kubernetes secrets that will be created
# when the shouldCreateSecrets value is true for the backend service.
secretsMaps:
  backend:
    name: backend
    contentMap:
      - key: databaseUrlSecret
        valueRef: config.backend.databaseUrlSecret
      - key: cookieSecret
        valueRef: config.backend.cookieSecret

ingress:
  backend:
    enabled: true
    annotations: []
    className: nginx
    tls:
      - secretName: interledger-cards-tls
        hosts:
          - interledger.cards
    hosts:
      - host: interledger.cards
        paths:
          - path: /
            pathType: Prefix
            service:
              name: interledger-cards-service
              port: 3000
