nodeEnv: production
logLevel: debug

replicaCount: 1

nodeSelector: {}

apiBaseUrl: "rafiki-boutique-backend"
port: 4004

currency: JOD

serviceAccount:
  create: false
  annotations: {}
  name: ""

autoscaling:
  enabled: false
  minReplicas: 2
  maxReplicas: 1
  cpuUtilizationPercentage: 80
  memoryUtilizationPercentage: 80

service:
  - name: service
    type: ClusterIP
    ports:
      - port: 80
        targetPort: 4004
        protocol: TCP
        name: http

configmap:
  - files/config.yaml

containers:
  - name: server
    image:
        name: test-boutique-frontend-jopacc
    envFrom:
      - configMapRef:
          name: "{{ .Release.Name }}" 
    resources:
      requests:
        memory: 64Mi
        cpu: 200m
      limits:
        memory: 512Mi
        cpu: 1
    ports:
      - name: http
        containerPort: 4004
        protocol: TCP

ingress:
  enabled: true
  className: nginx-external
  hosts:
    - host: boutique.jopacc.golobit.ch
      paths:
        - path: /
          pathType: Prefix
          service:
            name: rafiki-boutique-frontend-service
            port: 80
