#
# Chart for the Interledger App Wallet Frontend called Protea.
#
# TODO: init container should use different set of secrets and users than worker and backend
# TODO: investigate if worker and backend server db roles should be any different then they should also use different users
# 

config:

replicaCount: 1

nodeSelector: {}

serviceAccount:
  create: false
  annotations: {}
  name: ""

autoscaling:
  enabled: false
  minReplicas: 2
  maxReplicas: 1
  cpuUtilizationPercentage: 80
  memoryUtilizationPercentage: 80

service:
  - name: service
    annotations:
      cloud.google.com/neg: '{"ingress": true}'
    type: ClusterIP
    ports:
      - port: 80
        targetPort: 80
        protocol: TCP
        name: http

backendConfigs:
  - name: healthalive
    spec:
      healthCheck:
        checkIntervalSec: 5
        timeoutSec: 5
        healthyThreshold: 2
        unhealthyThreshold: 2
        type: HTTP
        requestPath: /health/alive
        port: 80

# The intention is for the consumer to override this ingress
ingress:
  enabled: true
  annotations:
    kubernetes.io/ingress.global-static-ip-name: "wallet-dev-app-https"
    kubernetes.io/ingress.class: gce
  className: gce
  tls: []
  hosts:
    - host: "admin.sandbox.skatkis.net"
      paths:
        - path: /
          pathType: Prefix
          service:
            name: hello-service
            port: 80

volumes:
  - name: nginx-hello
    configMap:
      name: nginx-hello

# This container is only used as an internal reverse proxy to allow
# tunnelled connections to access temporal and admin portal
containers:
  # Frontend
  - name: server
    image:
      repository: docker.io
      name: nginx
      tag: latest
      pullPolicy: Always
    volumeMounts:
      - name: nginx-hello
        mountPath: /etc/nginx/conf.d/default.conf
        subPath: nginx.conf
        readOnly: true
    ports:
      - name: http
        containerPort: 80
    resources:
      requests:
        memory: 128Mi
        cpu: 200m
      limits:
        memory: 512Mi
        cpu: 400m



