{{- include "common.ingress" (list . .Values.ingress "web-monetization-tools-frontend.ingress") }}

 {{- define "web-monetization-tools-frontend.ingress" -}}
 metadata:
     annotations:
        nginx.ingress.kubernetes.io/rewrite-target: /
        nginx.ingress.kubernetes.io/enable-cors: "true"
        nginx.ingress.kubernetes.io/cors-allow-origin: "*"
 {{- end }}