# Chart for the Interledger Wallet entrypoints
#
# The purpose of this chart is to facilitate the creation of ingress entrypoints.

config:

replicaCount: 1

nodeSelector: {}

serviceAccount:
  create: false
  annotations: {}
  name: ""

autoscaling:
  enabled: false
  minReplicas: 2
  maxReplicas: 1
  cpuUtilizationPercentage: 80
  memoryUtilizationPercentage: 80

service:
  - name: service
    type: ClusterIP
    ports:
      - port: 80
        targetPort: 80
        protocol: TCP
        name: http

# Backend config example
#
# backendConfigs:
#   - name: healthalive
#     spec:
#       healthCheck:
#         checkIntervalSec: 5
#         timeoutSec: 5
#         healthyThreshold: 2
#         unhealthyThreshold: 2
#         type: HTTP
#         requestPath: /health/alive
#         port: 4433

ingress:
  enabled: false
  # tls:           
  #   - hosts:
  #       - "example.com"
  #       - "*.example.com"
  #     secretName: example-com-tls
  # hosts:
  #   - host: "myorg.example.com"
  #     paths:
  #       - path: /
  #         pathType: Prefix
  #         service:
  #           name: myorg-service
  #           port: 80
