AUTH_DATABASE_URL: {{ required "AUTH_DATABASE_URL must be set" .Values.databaseUri.value | b64enc }}
COOKIE_KEY: {{ required "cookieKey must be set" .Values.cookieKey.value | b64enc }}
IDENTITY_SERVER_SECRET: {{ required "IDENTITY_SERVER_SECRET must be set" .Values.identityServer.serverSecret.value | b64enc }}
REDIS_URL: {{ required "REDIS_URL must be set" .Values.redisUri.value | b64enc }}
