{{- $pgUser := required "postgresql.auth.username must be set" .Values.postgresql.auth.username }}
{{- $pgPass := required "postgresql.auth.password must be set" .Values.postgresql.auth.password }}
{{- $pgHost := required "postgresql.host must be set" .Values.postgresql.host }}
{{- $pgPort := required "postgresql.port must be set" .Values.postgresql.port }}
{{- $pgDatabase := required "postgresql.auth.database must be set" .Values.postgresql.auth.database }}
{{- $redisHost := required "redis.host must be set" .Values.redis.host }}
{{- $redisPort := required "redis.port must be set" .Values.redis.port }}
{{- $pgUrl := printf "postgresql://%s:%s@%s:%s/%s" $pgUser $pgPass $pgHost $pgPort $pgDatabase | b64enc | quote }}
{{- $redisUrl := printf "redis://%s:%s" $redisHost $redisPort | b64enc | quote }}
AUTH_DATABASE_URL: {{ $pgUrl }}
COOKIE_KEY: "{{ required "cookieKey must be set" .Values.cookieKey | b64enc }}"
IDENTITY_SERVER_SECRET: "{{ required "identityServer.secret must be set" .Values.identityServer.secret | b64enc }}"
REDIS_URL: {{ $redisUrl }}
