# fullnameOverride: "web-monetization-tools"

imageOverride:
  repository: ghcr.io/interledger

config:
  frontend:
    # If true, the chart will create the secrets defined in the secretsMaps section.
    # If false, the chart will not create the secrets and it is assumed that they
    # already exist.
    shouldCreateSecrets: true

    openpayments:
      keyId: "00000000-0000-0000-0000-000000000000"
      walletAddress: "your-wallet-address"
      secretPrivateKey: "your-base64-encoded-private-key-here"

    urls:
      api: "https://your-backend-domain.example.com/"
      frontend: "https://your-frontend-domain.example.com/"
      interledgerPay: "https://interledgerpay.com/extension/"
      initScript: "https://cdn.webmonetization.org/"

  backend:
    # If true, the chart will create the secrets defined in the secretsMaps section.
    # If false, the chart will not create the secrets and it is assumed that they
    # already exist.
    shouldCreateSecrets: true

    aws:
      accessKeyId: "AKIAIOSFODNN7EXAMPLE"
      region: "us-east-1"
      bucketName: "your-bucket-name"
      retryMaxAttempts: 3
      retryTimeout: 3000
      secretAccessKey: "wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY"      

deployments:
  backend:
    name: backend
    enabled: true
    replicaCount: 1
    image:
      name: web-monetization-tools-backend
      # tag: "v0.1.0"   # Use this to override the image tag for just this image
    imagePullPolicy: IfNotPresent
    # Additional environment variables to set on the container
    # extraEnv:
    #   - name: EXAMPLE1
    #     value: "value1"    
    env:
      # From ConfigMap
      - name: AWS_ACCESS_KEY_ID
        valueFrom:
          configMapKeyRef:
            name: '{{ include "common.fullname" . }}-backend'
            key: aws.accessKeyId
      - name: AWS_BUCKET_NAME
        valueFrom:
          configMapKeyRef:
            name: '{{ include "common.fullname" . }}-backend'
            key: aws.bucketName            
      - name: AWS_REGION
        valueFrom:
          configMapKeyRef:
            name: '{{ include "common.fullname" . }}-backend'
            key: aws.region
      - name: AWS_RETRY_MAX_ATTEMPTS
        valueFrom:
          configMapKeyRef:
            name: '{{ include "common.fullname" . }}-backend'
            key: aws.retryMaxAttempts
      - name: AWS_RETRY_TIMEOUT
        valueFrom:
          configMapKeyRef:
            name: '{{ include "common.fullname" . }}-backend'
            key: aws.retryTimeout
      # From Secrets
      - name: AWS_SECRET_ACCESS_KEY
        valueFrom:
          secretKeyRef:
            name: '{{ include "common.fullname" . }}-backend'
            key: aws.secretAccessKey            
    ports:
      - name: http
        containerPort: 5101
        protocol: TCP
    resources:
      requests:
        memory: 128Mi
        cpu: 10m
      limits:
        memory: 512Mi
        cpu: 1
    securityContext: {}
    nodeSelector: {}
    serviceAccount: {}
    autoscaling:
      enabled: false
      minReplicas: 2
      maxReplicas: 10
      cpuUtilizationPercentage: 80
      memoryUtilizationPercentage: 80

  frontend:
    name: frontend
    enabled: true
    replicaCount: 1
    image:
      name: web-monetization-tools-frontend
      # tag: "v0.1.0"   # Use this to override the image tag for just this image
    imagePullPolicy: IfNotPresent
    # Additional environment variables to set on the container
    # extraEnv:
    #   - name: EXAMPLE1
    #     value: "value1"
    env:
      # From ConfigMap
      - name: API_URL
        valueFrom:
          configMapKeyRef:
            name: '{{ include "common.fullname" . }}-frontend'
            key: urls.api
      - name: FRONTEND_URL
        valueFrom:
          configMapKeyRef:
            name: '{{ include "common.fullname" . }}-frontend'
            key: urls.frontend
      - name: ILPAY_URL
        valueFrom:
          configMapKeyRef:
            name: '{{ include "common.fullname" . }}-frontend'
            key: urls.interledgerPay
      - name: INIT_SCRIPT_URL
        valueFrom:
          configMapKeyRef:
            name: '{{ include "common.fullname" . }}-frontend'
            key: urls.initScript
      - name: OP_KEY_ID
        valueFrom:
          configMapKeyRef:
            name: '{{ include "common.fullname" . }}-frontend'
            key: openpayments.keyId
      - name: OP_WALLET_ADDRESS
        valueFrom:
          configMapKeyRef:
            name: '{{ include "common.fullname" . }}-frontend'
            key: openpayments.walletAddress
      # From Secrets
      - name: OP_PRIVATE_KEY
        valueFrom:
          secretKeyRef:
            name: '{{ include "common.fullname" . }}-frontend'
            key: openpayments.secretPrivateKey
    ports:
      - name: http
        containerPort: 3000
        protocol: TCP
    resources:
      requests:
        memory: 64Mi
        cpu: 10m
      limits:
        memory: 1024Mi
        cpu: 1
    securityContext: {}
    nodeSelector: {}
    serviceAccount: {}
    autoscaling:
      enabled: false
      minReplicas: 2
      maxReplicas: 10
      cpuUtilizationPercentage: 80
      memoryUtilizationPercentage: 80

services:
  backend:
    name: backend-service
    enabled: true
    type: ClusterIP
    annotations: {}
    ports:
      - port: 5101
        targetPort: 5101
        protocol: TCP
        name: http

  frontend:
    name: frontend-service
    enabled: true
    annotations: {}
    type: ClusterIP
    ports:
      - port: 3000
        targetPort: 3000
        protocol: TCP
        name: http

# This section of the values file defines Kubernetes config maps that will be created
# for each service (backend and frontend).
configMaps:
  frontend:
    name: "frontend"
    contentMap:
      - key: urls.api
        valueRef: config.frontend.urls.api
      - key: urls.frontend
        valueRef: config.frontend.urls.frontend
      - key: urls.interledgerPay
        valueRef: config.frontend.urls.interledgerPay
      - key: urls.initScript
        valueRef: config.frontend.urls.initScript
      - key: openpayments.keyId
        valueRef: config.frontend.openpayments.keyId
      - key: openpayments.walletAddress
        valueRef: config.frontend.openpayments.walletAddress
  backend:
    name: "backend"
    contentMap:
      - key: aws.accessKeyId
        valueRef: config.backend.aws.accessKeyId
      - key: aws.region
        valueRef: config.backend.aws.region
      - key: aws.bucketName
        valueRef: config.backend.aws.bucketName
      - key: aws.retryMaxAttempts
        valueRef: config.backend.aws.retryMaxAttempts
      - key: aws.retryTimeout
        valueRef: config.backend.aws.retryTimeout

# This section of the values file defines Kubernetes secrets that will be created
# when the shouldCreateSecrets value is true for the backend service.
# If you are creating the secrets manually, you can infer the keys and values from here
secretsMaps:
  frontend:
    name: frontend
    contentMap:
      - key: openpayments.secretPrivateKey
        valueRef: config.frontend.openpayments.secretPrivateKey

  backend:
    name: backend
    contentMap:
      - key: aws.secretAccessKey
        valueRef: config.backend.aws.secretAccessKey