name: Renders test

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
    branches:
      - "**"

jobs:
    download_helm:
        name: Download Helm
        runs-on: ubuntu-latest
        steps:
        - name: Checkout code
          uses: actions/checkout@v4
        - name: Set up Helm
          run: |
            curl -fsSL -o get_helm.sh https://raw.githubusercontent.com/helm/helm/master/scripts/get-helm-3
            chmod 700 get_helm.sh
        - name: Upload get_helm.sh as artifact
          uses: actions/upload-artifact@v4
          with:
            name: get_helm_script
            path: get_helm.sh

    find_charts:
      name: Find Charts
      needs: download_helm
      runs-on: ubuntu-latest
      outputs:
          charts: ${{ steps.find_charts.outputs.charts }}
      steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Find charts
        id: find_charts
        run: |
          sudo apt install jq --yes
          echo "Finding all folders containing Chart.yaml files..."
          cd charts
          ls
          find . -name Chart.yaml -exec dirname {} \; | sed 's|^\./||' | grep -vE '^(charts|docs|tests|common)' > charts.txt || true
          if [ -s charts.txt ]; then
            echo "Json list of charts found:"
            charts=$(jq -R -s -c 'split("\n")[:-1]' charts.txt)
            echo "Found charts: $charts"
          else
            echo "No charts found."
            exit 1;
          fi
          echo "::set-output name=charts::$charts"

    render:
        name: Render Helm Chart
        needs: find_charts
        runs-on: ubuntu-latest
        strategy:
            matrix:
              chart: ${{ fromJson(needs.find_charts.outputs.charts) }}
        steps:
        - name: Checkout code
          uses: actions/checkout@v4
        - name: Download artifact
          uses: actions/download-artifact@v4
          with:
            name: get_helm_script
        - name: Set up Helm
          run: |
            chmod 700 get_helm.sh
            ./get_helm.sh
        - name: Render Helm Chart
          run: |
            cd charts
            helm repo add interledger https://interledger.github.io/charts/interledger
            helm dep build ./${{ matrix.chart }}
            release_name=$(basename ${{ matrix.chart }})
            helm template $release_name ./${{ matrix.chart }}

