name: Renders test

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
    branches:
      - "**"

jobs:
    render:
        name: Render Helm Chart
        runs-on: ubuntu-latest
        strategy:
            matrix:
                chart:
                    - name: rafiki-auth
                      chart: rafiki-auth
                    - name: rafiki-backend
                      chart: rafiki-backend
                    - name: rafiki-frontend
                      chart: rafiki-frontend
                    - name: interledger-cards
                      chart: interledger-cards
                    - name: rafiki-boutique-backend
                      chart: rafiki-boutique/backend
                    - name: rafiki-boutique-frontend
                      chart: rafiki-boutique/frontend
                    - name: rafiki-money-backend
                      chart: rafiki-money/backend                      
                    - name: rafiki-money-frontend
                      chart: rafiki-money/frontend
                    - name: web-monetization-tools-frontend
                      chart: web-monetization-tools/frontend
                    - name: web-monetization-tools-backend
                      chart: web-monetization-tools/backend
        steps:
        - name: Checkout code
          uses: actions/checkout@v4
        - name: Set up Helm
          run: |
            curl -fsSL -o get_helm.sh https://raw.githubusercontent.com/helm/helm/master/scripts/get-helm-3
            chmod 700 get_helm.sh
            ./get_helm.sh
        - name: Render Helm Chart
          run: |
            cd charts
            helm dep build ./${{ matrix.chart.chart }}
            helm template ${{ matrix.chart.name }} ./${{ matrix.chart.chart }}

