# This file is a minimalistic example of how to configure the Rafiki Backend Helm chart.

# ==========================================================
# Rafiki Backend configuration
# ==========================================================

auth:
  # The endpoint on your Open Payments authorization server to grant a request.
  # this should be the value of your publically exposed Rafiki Auth service.
  grantUrl: http://rafiki-auth:3006
  # The endpoint on your Open Payments authorization server to introspect an access 
  # token.
  introspectionUrl: http://rafiki-auth:3007

rates:
  # The endpoint your Rafiki instance uses to request exchange rates.
  # Typically this is hosted by the Account Service Provider
  url: http://wallet/prices

webhook:
  # Where Rafiki is going to send webhooks, 'wallet' refers to your Accounr Service Provider.
  url: http://wallet/webhooks/rafiki
  # The time, in milliseconds, that WALLET_ADDRESS_WORKERS wait until checking the 
  # empty wallet address request queue again.
  timeout: 200

# Redis configuration, used for caching and session state
redis:
  host: 'rafiki-backend-redis-master'
  port: "6379"
  # The Redis key used to store the nonce for the Rafiki Backend.
  nonce: ''

# PostgreSQL, provide configuration. You will have to create the database and user seperately.
postgresql:
  host: "rafiki-backend-postgresql"
  port: "5432"
  auth:
    username: "rafiki-backend"
    database: "rafiki-backend"
    password: "rafiki-backend"

ilp:
  # The ILP address of your Rafiki instance. Override this value.
  address: test.rafiki-backend
  # The ILP connector address where ILP packets are received.
  # If you are connecting to the Interledger network you need to expose url through an ingress of some sort.
  connectorUrl: 'http://rafiki-backend:3002'
  # The seed secret to generate shared STREAM secrets.
  streamSecret: "THIS CAN BE ANY RANDOM STRING"  # override this value
  # The accepted ILP rate fluctuation.
  slippage: 0.01


# The secret to generate request header signatures for webhook event requests.
# Must be valid base64. You can generate one using `head -c 32 /dev/urandom | base64`
quoteSignatureSecret: "hT5sZZO97oTuEcKZYqB9jIcadFDg+gD5yL/AlKlfhpw=" # overridethisValue
