replicaCount: 1

nodeSelector: {}

# serviceAccount:
#   create: false
#   annotations: {}
#   name: ""

autoscaling:
  enabled: false
  minReplicas: 2
  maxReplicas: 1
  cpuUtilizationPercentage: 80
  memoryUtilizationPercentage: 80

service:
  - name: service
    type: ClusterIP
    ports:
      - port: 3000
        targetPort: 3000
        protocol: TCP
        name: open-payments
      - port: 3001
        targetPort: 3001
        protocol: TCP
        name: admin
      - port: 3002
        targetPort: 3002
        protocol: TCP
        name: connector

configmap:
  - files/config.yaml

secrets:
  - files/secret.yaml

containers:
  - name: server
    envFrom:
      - configMapRef:
          name: "{{ .Release.Name }}"
      - secretRef:
          name: "{{ .Release.Name }}"
    resources:
      requests:
        memory: 256Mi
        cpu: 1
      limits:
        memory: 2048Mi
        cpu: 4
    ports:
      - name: open-payments
        containerPort: 3000
        protocol: TCP
      - name: admin
        containerPort: 3001
        protocol: TCP
      - name: connector
        containerPort: 3002
        protocol: TCP

nodeEnv: development
logLevel: debug

instanceName: Jopacc

trustProxy: true
telemetry:
  enabled: false
livenet: false
useTigerBeetle: false
slippage: 0.01
keyId: rafiki
quoteSignatureSecret: "overridethisValue"
port:
  admin: 3001
  connector: 3002
  openPayments: 3000
auth:
  grantUrl: http://rafiki-auth:3006
  introspectionUrl: http://rafiki-auth:3007
ilp:
  address: test.net
  host: http://rafiki-backend:3000-changeMePublic
  connector: http://rafiki-backend:3002-changeMePublic
  streamSecret: changeme
webhook:
  url: https://jopacc-rafiki-middleware-backend/webhooks
  timeout: 60000
rates:
  url: http://jopacc-rafiki-middleware-backend/rates
quote:
  url: http://jopacc-rafiki-middleware-backend/quote

redis:
  host: "redis-master"
  port: "6379"

postgresql:
  host: "postgres-postgresql"
  port: "5432"
  auth:
    username: "rafiki-backend"
    database: "rafiki-backend"
    password: "rafiki-backend"

lifetime:
  exchangeRate: 15000
  quote: 300000
  webhook: 200
workers:
  incomingPayment: 1
  outgoingPayment: 4
  paymentPointer: 1
  webhook: 1
workerIdle: 200
idempotency:
  keyTTL: 86400000
  keyLock: 2000
