# This file is used to set default values for the Rafiki Backend Helm chart. The
# values can be overridden by providing a custom values file or using the `--set`
# flag when installing the chart. Or by supplying a custom values file, see the
# provided values.example.yaml for an example of how to set the values.

# ==========================================================
# Rafiki Backend configuration
# ==========================================================

nodeEnv: production
logLevel: info

# Your Rafiki instance’s name used to communicate for auto-peering and/or 
# telemetry. Required when auto-peering and/or telemetry is enabled
instanceName: rafiki-backend-changeme

auth:
  # The endpoint on your Open Payments authorization server to grant a request.
  grantUrl: http://rafiki-auth.rafiki-auth:3006
  # The endpoint on your Open Payments authorization server to introspect an access 
  # token.
  introspectionUrl: http://rafiki-auth.rafiki-auth:3007

rates:
  # The endpoint your Rafiki instance uses to request exchange rates.
  url: http://wallet/prices

webhook:
  # Where Rafiki is going to send webhooks
  url: http://wallet/webhooks/rafiki
  # The time, in milliseconds, that WALLET_ADDRESS_WORKERS wait until checking the 
  # empty wallet address request queue again.
  timeout: 200

# Redis configuration, used for caching and session state
redis:
  host: 'rafiki-backend-redis-master'
  port: "6379"
  # The Redis key used to store the nonce for the Rafiki Backend.
  nonce: ''

# PostgreSQL, provide configuration
postgresql:
  host: "rafiki-backend-postgresql"
  port: "5432"
  auth:
    username: "rafiki-backend"
    database: "rafiki-backend"
    password: "rafiki-backend"

# This feature is experimental and may change in future versions.
walletAddressRedirectHtmlPage: ''

# Must be set to true when running Rafiki behind a proxy. When true, the 
# X-Forwarded-Proto header is used to determine if connections are secure.
trustProxy: true

ilp:
  # The ILP address of your Rafiki instance. Override this value.
  address: test.rafiki-backend
  # The ILP connector address where ILP packets are received.
  connectorUrl: 'http://rafiki-backend:3002'
  # The seed secret to generate shared STREAM secrets.
  streamSecret: "BjPXtnd00G2mRQwP/8ZpwyZASOch5sUXT5o0iR5b5wU="  # override this value
  # The accepted ILP rate fluctuation.
  slippage: 0.01

key:
  # Your Rafiki instance’s client key ID.
  id: rafiki
  # The path to your Rafiki instance’s client private key.
  # You will have to mount this file into the container by customising the container section
  file: ''

# The secret to generate request header signatures for webhook event requests.
quoteSignatureSecret: "overridethisValue"

# The delay in liquidity withdrawal processing.
# Unit ms
withdrawalThrottleDelay: ''

lifetime:
  # The time, in milliseconds, the exchange rates you provide via the EXCHANGE_RATES_URL 
  # are valid.
  exchangeRate: 15000
  # The time, in milliseconds, an Open Payments quote is valid for.
  quote: 300000
  # The time, in milliseconds, that your Rafiki instance will wait for a 200 response 
  # from your webhook endpoint. If a 200 response is not received, Rafiki will time out
  # and try to send the webhook event again.
  webhook: 200

workers:
  # The number of workers processing incoming payment requests.
  incomingPayment: 1
  # The number of workers processing outgoing payment requests.
  outgoingPayment: 1
  paymentPointer: 1
  webhook: 1

# The time, in milliseconds, that WEBHOOK_WORKERS will wait until they check the 
# empty webhook event queue again.
workerIdle: 200

idempotency:
  # The TTL, in milliseconds, for idempotencyKey on GraphQL mutations on the Backend Admin API.
  keyTTL: 86400000
  # The TTL, in milliseconds, for idempotencyKey concurrency lock on GraphQL 
  # mutations on the Backend Admin API.
  keyLock: 2000

telemetry:
  # Enables the telemetry service on Rafiki.
  enabled: false

# ==========================================================
# Chart customization
# ==========================================================
# Everything below this point is used to configure the Rafiki Backend Helm 
# chart framework and is not typically used by the Rafiki Backend itself. It is used to
# customize the deployment, service, and other Kubernetes resources created by the Helm chart.
# 
# We recommend not changing these values unless you know what you are doing.

# This chart does support the generation of init containers using the convention
# below. In future versions migrations will be performed in a init container.
# initContainers:
# - name: backend-migrations
#   image:
#     repository: repository/org/some-image
#     name: SomeImageContainer
#     tag: v1.0
#     pullPolicy: Always
#   args:
#     - "run"
#   envFrom:
#     - configMapRef:
#         name: "{{ .Release.Name }}"
#     - secretRef:
#         name: "{{ .Release.Name }}"
#   resources:
#     requests:
#       memory: 128Mi
#       cpu: 200m
#     limits:
#       memory: 512Mi
#       cpu: 400m

# Sidecars can be used to add additional containers to the Rafiki Backend deployment. This
# container definition will be added to the Rafiki Backend deployment as a sidecar container.
# sidecars:
#   - name: debugbox
#     image:
#       name: busybox
#       tag: latest
#       repository: docker.io
#     args:
#       - sleep
#       - "3600"

# Configures the ports on which the containers will listen. It is recommended to
# not change these values unless you know what you are doing. Rather use the 
# service configuration to change the exposed ports.
port:
  admin: 3001
  connector: 3002
  openPayments: 3000


# Default replica count for the Rafiki Backend deployment.
# This value is used only when autoscaling is disabled. If autoscaling is enabled,
# the number of replicas will be managed dynamically based on resource utilization.
replicaCount: 1

# Can be used to ensure rafiki-backend is deployed on a specific node or set of nodes.
nodeSelector: {}

# Optionally configure or/and create a Kubernetes Service Account to be used by the
# Rafiki Backend deployment.
# If `create` is set to `true`, a Service Account will be created with the specified
# `name` and `annotations`. If `create` is set to `false`, the specified `name` will
# be used for the Service Account, and it is expected that the Service Account already
# exists in the cluster.
serviceAccount:
  create: false
  annotations: {}
  name: ""

# Autoscaling configuration for the Rafiki Backend deployment.
autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 2
  cpuUtilizationPercentage: 80
  memoryUtilizationPercentage: 80

# Template for creating the Rafiki Backend deployment services. If you need
# to customize the service (for example to add annotations), or add additional
# services then you will have to copy this block into your custom values file
# and modify it as needed. It will override this configuration.
service:
  - name: service
    annotations: {}
    type: ClusterIP
    ports:
      - port: 3000
        targetPort: 3000
        protocol: TCP
        name: open-payments
      - port: 3001
        targetPort: 3001
        protocol: TCP
        name: admin
      - port: 3002
        targetPort: 3002
        protocol: TCP
        name: connector

# The template for generating the env configmap
configmap:
  - files/config.yaml

# The template for generating the env secrets
secrets:
  - files/secret.yaml

containers:
  - name: server
    envFrom:
      - configMapRef:
          name: "{{ .Release.Name }}"
      - secretRef:
          name: "{{ .Release.Name }}"
    resources:
      requests:
        memory: 256Mi
        cpu: 1
      limits:
        memory: 2048Mi
        cpu: 4
    ports:
      - name: open-payments
        containerPort: 3000
        protocol: TCP
      - name: admin
        containerPort: 3001
        protocol: TCP
      - name: connector
        containerPort: 3002
        protocol: TCP
