# This file is used to set default values for the Rafiki Backend Helm chart. The
# values can be overridden by providing a custom values file or using the `--set`
# flag when installing the chart. Or by supplying a custom values file, see the
# provided values.example.yaml for an example of how to set the values.

# ==========================================================
# Rafiki Backend configuration
# ==========================================================

nodeEnv: production
logLevel: info

# Your Rafiki instance’s name used to communicate for auto-peering and/or 
# telemetry. Required when auto-peering and/or telemetry is enabled
instanceName: rafiki-backend-changeme

useTigerbeetle: false

secrets:
  # If true, then the chart will create a secret with the name of the release.
  # If false, then the secret will not be created and you will have to create it
  # manually. This is useful if you want to use an existing secret or if you want
  # to manage secrets outside of the Helm chart.
  # If true you will have to set the value of each secret manually in the relevant
  # section below.
  create: false

auth:
  # The endpoint on your Open Payments authorization server to grant a request.
  grantUrl: http://rafiki-auth.rafiki-auth:3006
  # The endpoint on your Open Payments authorization server to introspect an access 
  # token.
  introspectionUrl: http://rafiki-auth.rafiki-auth:3007

# TODO: Consider not specifying the rates url if it is not needed
rates:
  # The endpoint your Rafiki instance uses to request exchange rates.
  url: ""

webhook:
  # Where Rafiki is going to send webhooks
  url: http://wallet/webhooks/rafiki
  # The time, in milliseconds, that WALLET_ADDRESS_WORKERS wait until checking the 
  # empty wallet address request queue again.
  timeout: 200

# Redis configuration, used for caching and session state
redisUrl:
  # value: "redis://rafiki-backend-redis:6379"
  secretKeyRef:
    key: REDIS_URL

# PostgreSQL, provide configuration

databaseUrl: # DATABASE_URL
  # value: "postgresql://rafiki-backend-postgresql:5432/rafiki-backend"
  secretKeyRef:
    key: DATABASE_URL

# This feature is experimental and may change in future versions.
walletAddressRedirectHtmlPage: ''

# Must be set to true when running Rafiki behind a proxy. When true, the 
# X-Forwarded-Proto header is used to determine if connections are secure.
trustProxy: true

ilp:
  # Maps to OPEN_PAYMENTS_URL - The public endpoint of your Open Payments resource server.
  host: 'http://rafiki-backend:3000'
  # Maps to ILP_ADDRESS - The ILP address of your Rafiki instance. Override this value.
  address: test.rafiki-backend
  # The ILP connector address where ILP packets are received.
  connector: 'http://rafiki-backend:3002'
  # The seed secret to generate shared STREAM secrets.
  streamSecret:
    # value: "changeme"
    secretKeyRef:
      key: STREAM_SECRET
  # The accepted ILP rate fluctuation.

slippage: 0.01

key:
  # Your Rafiki instance’s client key ID. Make this a unique identifier for your
  # Rafiki instance.
  id: rafiki-override-this-value
  # The private key pem file used. Must be provided as base64 encoded version of
  # the pem file. It will be stored in a secret. Chart will fail if not provided.
  # Can be generated like this
  #   openssl genpkey -algorithm Ed25519 -out private.pem
  #   echo "pvk:"
  #   echo -n "$(cat private.pem)" | base64 -w0
  #
  # Note that the public key can always be derived from the private key like this
  # openssl pkey -in private.pem -pubout -out public.pem
  #
  # If empty string like this is provided, this chart will spawn a job to generate
  # a new key pair and store it in a secret for you.
  pvk: ''

# The secret to generate request header signatures for webhook event requests.
quoteSignatureSecret:
  # value: "changeme"
  secretKeyRef:
    name: rafiki-backend
    key: SIGNATURE_SECRET

# The delay in liquidity withdrawal processing.
# Unit ms
withdrawalThrottleDelay: ''

lifetime:
  # The time, in milliseconds, the exchange rates you provide via the EXCHANGE_RATES_URL 
  # are valid.
  exchangeRate: 15000
  # The time, in milliseconds, an Open Payments quote is valid for.
  quote: 300000
  # The time, in milliseconds, that your Rafiki instance will wait for a 200 response 
  # from your webhook endpoint. If a 200 response is not received, Rafiki will time out
  # and try to send the webhook event again.
  webhook: 200

workers:
  # The number of workers processing incoming payment requests.
  incomingPayment: 1
  # The number of workers processing outgoing payment requests.
  outgoingPayment: 1
  paymentPointer: 1
  webhook: 1

# The time, in milliseconds, that WEBHOOK_WORKERS will wait until they check the 
# empty webhook event queue again.
workerIdle: 200

idempotency:
  # The TTL, in milliseconds, for idempotencyKey on GraphQL mutations on the Backend Admin API.
  keyTTL: 86400000
  # The TTL, in milliseconds, for idempotencyKey concurrency lock on GraphQL 
  # mutations on the Backend Admin API.
  keyLock: 2000

telemetry:
  # Enables the telemetry service on Rafiki.
  enabled: false

# ==========================================================
# Chart customization
# ==========================================================
# Everything below this point is used to configure the Rafiki Backend Helm 
# chart framework and is not typically used by the Rafiki Backend itself. It is used to
# customize the deployment, service, and other Kubernetes resources created by the Helm chart.
# 
# We recommend not changing these values unless you know what you are doing.

# This chart does support the generation of init containers using the convention
# below. In future versions migrations will be performed in a init container.
# initContainers:
# - name: backend-migrations
#   image:
#     repository: repository/org/some-image
#     name: SomeImageContainer
#     tag: v1.0
#     pullPolicy: Always
#   args:
#     - "run"
#   envFrom:
#     - configMapRef:
#         name: "{{ .Release.Name }}"
#     - secretRef:
#         name: "{{ .Release.Name }}"
#   resources:
#     requests:
#       memory: 128Mi
#       cpu: 200m
#     limits:
#       memory: 512Mi
#       cpu: 400m

# Sidecars can be used to add additional containers to the Rafiki Backend deployment. This
# container definition will be added to the Rafiki Backend deployment as a sidecar container.
# sidecars:
#   - name: debugbox
#     image:
#       name: busybox
#       tag: latest
#       repository: docker.io
#     args:
#       - sleep
#       - "3600"

# Configures the ports on which the containers will listen. It is recommended to
# not change these values unless you know what you are doing. Rather use the 
# service configuration to change the exposed ports.
port:
  admin: 3001
  connector: 3002
  openPayments: 3000


# Currently rafiki should run with a single replica, so this value is set to 1.
replicaCount: 1

# Can be used to ensure rafiki-backend is deployed on a specific node or set of nodes.
nodeSelector: {}

# Optionally configure or/and create a Kubernetes Service Account to be used by the
# Rafiki Backend deployment.
# If `create` is set to `true`, a Service Account will be created with the specified
# `name` and `annotations`. If `create` is set to `false`, the specified `name` will
# be used for the Service Account, and it is expected that the Service Account already
# exists in the cluster.
serviceAccount:
  create: false
  annotations: {}
  name: ""

# Template for creating the Rafiki Backend deployment services. If you need
# to customize the service (for example to add annotations), or add additional
# services then you will have to copy this block into your custom values file
# and modify it as needed. It will override this configuration.
service:
  - name: service
    annotations: {}
    type: ClusterIP
    ports:
      - port: 3000
        targetPort: 3000
        protocol: TCP
        name: open-payments
      - port: 3001
        targetPort: 3001
        protocol: TCP
        name: admin
      - port: 3002
        targetPort: 3002
        protocol: TCP
        name: connector

# The template for generating the default env configmap. The generated configmap
# will have the same name as the full name of the release.
configmap:
  - files/config.yaml

# The template for generating the env secrets. The generated secret will have
# the same name as the full name of the release.
secretsGenFile:
  - files/secret.yaml

containers:
  - name: server
    # Note that envFrom will automatically be populated by chart magic
    # unless it is explicitly configured otherwise here.
    resources:
      requests:
        memory: 256Mi
        cpu: 1
      limits:
        memory: 2048Mi
        cpu: 4
    readinessProbe:
      httpGet:
        path: /healthz
        port: 3000
    livenessProbe:
      httpGet:
        path: /healthz
        port: 3000
    ports:
      - name: open-payments
        containerPort: 3000
        protocol: TCP
      - name: admin
        containerPort: 3001
        protocol: TCP
      - name: connector
        containerPort: 3002
        protocol: TCP
    # See deployment.yaml to see how the mount itself is created
    volumeMounts:
      - name: keys
        mountPath: /mnt/keys
        readOnly: true
        
